composer install
npm install
php artisan key:generate
php artisan vendor:publish

npm install -D tailwindcss postcss autoprefixer
npx tailwindcss init -p
composer require barryvdh/laravel-dompdf
composer require spatie/laravel-robots-middleware
npm run build
