.head-banner {
    padding: 4vh;
    position: relative;
    overflow: hidden;
    margin-bottom: 5vh;
    background: rgb(248, 249, 253);
    background: linear-gradient(
        24deg,
        rgba(248, 249, 253, 1) 0%,
        rgba(0, 51, 138, 0.738532913165266) 0%,
        rgba(44, 107, 210, 0) 51%
    );
}

.head-banner .banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Black with 20% opacity */
    z-index: -5;
    filter: blur(2px);
}

.banner-content {
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    position: relative;
    z-index: 1; /* Ensure content is above the background */
}

.banner-title {
    font-size: 4.5vw;
    width: 400px;
    color: #ffff;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);
    text-transform: capitalize;
    font-weight: bold;
    line-height: 8vh; /* Adjust line height as needed */
    padding: 20px;
}

.dgca-headear-img {
    margin-left: 40%;
    /* margin-top: 10vh; */
    width: 50%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .banner-content {
        margin-top: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-title {
        margin: 0;
        font-size: 7vw;
    }
    .dgca-title {
        margin: 0;
        text-align: left;
        font-size: 2.5rem;
        line-height: 6vh;
        margin-top: 3vh;
    }
    .reg-steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dgca-headear-img {
        margin-left: 40%;
        /* margin-top: 10vh; */
        width: 50%;
        height: auto;
    }
}

/* ------------------------- */
