.main-navbar {
    height: 100px;
    width: 100%;
    position: relative;
    z-index: 999;
    padding: 10px;
    margin-bottom: 5vh;

}

.main-navbar-content {
    display: flex;
    align-items: center;
}

.main-logo {
    margin-left: 7vh;
    margin-bottom: 3vh;
}
.main-navbar-content .nav-labels{
    margin-left: 5vh;
    font-size: 1rem;
}
.nav-caap-logo {
    height: auto;
    width: 80px;
}

.main-navbar ul {
    text-align: left; /* Align list items to the left */
    list-style: none;
    padding-left: 0; /* Remove default padding */
}

.main-navbar ul li {
    position: relative;
    display: inline-block;
    line-height: 6vh;
    margin: 0 5px;
}

.main-navbar ul li a {
    color: #3b3b3b;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none; /* Remove default underline */
}

.main-navbar ul li:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%; /* Position below parent */
    left: 0;
    width: 400px;
    background-color: #fff; /* Background color for submenu */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
    text-align: left;
}

.sub-menu li {
    display: inline-block;
    width: 100%; /* Full width */
    border-bottom: 2px solid transparent;
}

.sub-menu li a {
    text-transform: capitalize;
    color: #3b3b3b;
}
.sub-menu li:hover{
    border-bottom: 2px solid #0082e6;
}

.checkbtn {
    font-size: 30px;
    color: #3b3b3b;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.nav-labels ul .logout{
    display: none;
}
.navbar-right{
    margin-bottom: 15px;
}
#check {
    display: none;
}
/* .navbar-right{
    margin-left: 70vh;
} */
@media only screen and (min-width: 900px) and (max-width: 1024px) {

}
@media only screen and (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    #login-register{
        display: none;
    }
    .logout{
        visibility: visible;
    }
    .main-navbar-content{
        display: flex;
    }
    .main-logo {
        margin-left: 3vw; /* Corrected typo */
    }
    .sub-menu {
        display: none;
        /* Other styles */
    }
    .main-navbar ul {
        color: #ffff !important;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #969696;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 999;
    }

    .main-navbar ul li {
        display: block;
        margin: 10px 0; /* Adjusted margin for better spacing */
        line-height: 8vh;
    }

    .main-navbar ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }
}
