.page-header {
    font-size: 2.3rem;
    font-weight: bold;
    display: inline-block;
}
.register_file_form{
    margin-bottom: 10vh;
}
.card-header{
    background-color: #2658AB;
    color: #ffff;
}
.subtitle{
    font-style: italic;
    text-align: justify;
}
.subheader{
    font-size: 1.3rem;
    font-weight: bold;
}
.custom-select{
    padding: 6px;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

}
.paper_number_field{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.paper_number_field input[type="text"]{
    width: 20%;;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #0A66C2;
}
.subm-guide-btn{
    padding: 10px;
}
.guide-link{
    padding: 10px;
    background-color: #ffff;
    color: #3b3b3b;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
}
.pdf-icon{
    width: 25px;
    height: auto;
}
.guide-link:hover{
    transition: .1s ease-in;
    background-color: #FD6F6F;
    color: #ffff;
}
.input-group-btn{
    margin-top: 4vh;
}
/* CSS */
.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
