
.hidden{
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    transform: translateY(0)
}
.file-guide-header{
    font-size: 1.5rem;
    padding-bottom: 2vh;
}
.file-guide-link{
    padding: 15px;
    color: #ffff;
    background-color: #50A9FB;
    border-radius: 99px;
}
.file-guide-link:hover{
    color: #ffff;
    background-color: #3b81c2;
}
.section-grp{
    padding: 10px;
}
.section-hdr{
    font-size: 2.5rem;
    color: #50A9FB;
    text-transform: capitalize;
}
.section-content{
    padding: 20px;
    font-size: 16px;
    text-align: justify;
}
.section-article{
    padding: 20px;
}
.section-subheader{
    font-size: 1.5rem;
    color: #50A9FB;
}
.section-subheader-content{
    font-size: 16px;
    padding: 15px;
    text-align: justify;
}
.section-article ol li{
    padding: 10px;
}

.section-subheader-content ol li{
    padding: 10px;
}
.note-message{
    color: #969696;
    font-style: italic;
}
.section-content .conf-addresses{
    list-style-type: none;
}
.section-content .conf-addresses a{
    text-decoration: none;
}
