.error-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-top: 10vh;
    margin-bottom: 10%;
}
.error-img{
    width: 500px;
    height: auto;

}
.error-content{
    text-align: left;
}
.error-header{
    font-size: 2.6rem;
    color: #50A9FB;
}
.error-message{
    color: #969696;
    font-style: italic;
    font-size: 19px;

}
.error-content .btn-grp{
    margin-top: 3vh;
}
.go-home-btn{
    font-size: 16px;
    background-color: #50A9FB;
    text-align: center;
    display: inline-block;
    width: 40%;
    color: #ffff !important;
    padding: 15px;
    border-radius: 99px;
    cursor: pointer;
    text-decoration: none;
}
.go-home-btn:hover{
    background-color: #969696;
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .error-img{
        width: 30vw;
        height: auto;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px){
    .error-img{
        width: 40vw;
        height: auto;
        margin-bottom: 0%;
    }
    .error-content{
        text-align: center;
     }
}

@media only screen and (min-width: 300px) and (max-width: 600px){
    .error-img{
        width: 50vw;
        height: auto;
        margin-bottom: 0%;
    }

    .error-header{
        font-size: 6.5vw;
    }

    .error-message{
        font-size: 3vw;
    }
}
