.document_sent_main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3b3b3b;
    gap: 3vw;
}
.file_uploaded_img{
    width: 40%;
    height: auto;
}
.document_sent_header{
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: capitalize;
}
.document_sent_message{
    font-size: 17px;
}
.document_sent_main .btn-grp{
    margin-top: 3vh;
}
.go-home-btn{
    font-size: 16px;
    background-color: #50A9FB;
    text-align: center;
    display: inline-block;
    width: 40%;
    color: #ffff !important;
    padding: 15px;
    border-radius: 99px;
    cursor: pointer;
    text-decoration: none;
}
.go-home-btn:hover{
    background-color: #969696;
}
