/* BANNER CSS */
.head-banner {
    position: relative;
    overflow: hidden;
}

.head-banner .banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
    filter: blur(0px);
}
.banner-content{
    display: flex;
    justify-content: space-around;
}
.banner-title{
    font-size: 4rem;
    color: #ffff;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);
    margin-top: 40vh;
    font-weight: bold;
    margin-left: 15vh;
    width: 100%;

}
.dgca-title{
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);
    color: #ffff;
    font-size: 4rem;
    font-weight: bold;
    line-height: 8vh;
    text-transform: uppercase;
    margin-left: 10vh;
    margin-top: 10vh;
    width: 60%;
    text-align: end;
}
@media screen and (max-width: 768px) {
    .banner-content{
        margin-top: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-title{
        margin: 0;

    }
    .dgca-title{
        margin: 0;
        text-align: left;
        font-size: 2.5rem;
        line-height: 6vh;
        margin-top: 3vh;
    }
    .reg-steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* ------------------------- */
.agenda-header {
    font-size: 3rem;
    font-weight: bold;
    color: #002868;
    text-align: center;
    text-shadow: #b4c4db 3px 3px;
    margin-bottom: 20px;
}

.card-container {
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    flex: 1 0 300px;
    max-width: 350px;
    color: #3b3b3b;
    background: #fff;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-hdr {
    color: #3b3b3b;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.card-body {
    padding: 20px;
}

.file-info {
    margin-bottom: 10px;
}

.file-name {
    font-weight: none;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    color: #555;
    font-size: 1rem;
    text-align: center;
}

.view-file {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background-color: #50A9FB;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: #ffff;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.view-file:hover {
    background-color: #FFD54F;
    color: #3D3834;
    text-decoration: none;
}
.message-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3vh;
    text-align: center;
}
.missing-svg{
    width: 400px;
    height: auto;

}
.message-content-header{
    font-size: 2rem;
    padding: 15px;
    font-weight: bold;
    color: #002868;
}
.message-header-subtitle{
    font-size: 1rem;
    color: #969696;
    font-style: italic;
}

.verification-error-message{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}
.verify-svg{
    width: 300px;
    height: auto;
}
.verification-header{
    padding: 6px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #002868;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(148, 148, 148, 0.97);
}
.verification-message{
    font-size: 17px;
    width: 60%;
    color: #3b3b3b;
    text-align: center;
}
.sec-email{
    font-size: 18px;
    text-align: center;
    text-decoration: none;

}
@media (max-width: 768px) {
    .card {
        flex: 1 0 100%;
        max-width: 100%;
    }
}
