
.agenda-header {
    font-size: 3rem;
    font-weight: bold;
    color: #002868;
    text-align: center;
    text-shadow: #b4c4db 3px 3px;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    flex: 1 0 300px;
    max-width: 350px;
    color: #3b3b3b;
    background: #fff;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-hdr {
    color: #3b3b3b;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.card-body {
    padding: 20px;
}

.file-info {
    margin-bottom: 10px;
}

.file-name {
    font-weight: none;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    color: #555;
    font-size: 1rem;
    text-align: center;
}

.view-file {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background-color: #50A9FB;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: #ffff;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.view-file:hover {
    background-color: #FFD54F;
    color: #3D3834;
    text-decoration: none;
}
.message-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3vh;
    text-align: center;
}
.missing-svg{
    width: 400px;
    height: auto;

}
.message-content-header{
    font-size: 2rem;
    padding: 15px;
    font-weight: bold;
    color: #002868;
}
.message-header-subtitle{
    font-size: 1rem;
    color: #969696;
    font-style: italic;
}
@media (max-width: 768px) {
    .card {
        flex: 1 0 100%;
        max-width: 100%;
    }
}
