/* BANNER CSS */
.head-banner {
    position: relative;
    overflow: hidden;
}

.head-banner .banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
    filter: blur(0px);
}
.banner-content{
    display: flex;
    justify-content: space-around;
}
.banner-title{
    font-size: 4rem;
    color: #ffff;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);
    margin-top: 40vh;
    font-weight: bold;
    margin-left: 15vh;
    line-height: 7vh;
    padding: 20px;
    width: 100%;
}
.dgca-title{
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);
    color: #ffff;
    font-size: 4rem;
    font-weight: bold;
    line-height: 8vh;
    text-transform: uppercase;
    margin-left: 10vh;
    margin-top: 10vh;
    width: 60%;
    text-align: end;
}
@media screen and (max-width: 768px) {
    .banner-content{
        margin-top: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-title{
        margin: 0;

    }
    .dgca-title{
        margin: 0;
        text-align: left;
        font-size: 2.5rem;
        line-height: 6vh;
        margin-top: 3vh;
    }
    .reg-steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* ------------------------- */

.container-main{
    margin-top: 5vh;
}

.discussion-header {
    font-size: 3rem;
    font-weight: bold;
    color: #002868;
    text-align: center;
    text-shadow: #b4c4db 3px 3px;
}
.dl-grp {
    padding: 2vh;
    display: flex;
    align-items: center;
    flex-direction: row; /* Align items horizontally */
}
.temp-svg {
    width: 50px;
    height: auto;
}
.dl-text {
    margin-left: 20px;
    padding: 25px;
    background-color: #50A9FB;
    color: #ffff;
    border-radius: 99px;
    font-size: 15px;
    text-decoration: none;
}
.dl-text:hover {
    text-decoration: none;
    color: #ffff;
    background-color: #969696;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
/* Style for the search field container */
.search-container {
    display: flex;
    align-items: center;
    max-width: 400px; /* Adjust the maximum width as needed */
}

/* Style for the search input */
.search-input {
    flex: 1; /* Allow the input to grow and take available space */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; /* Rounded left corners */
    font-size: 16px;
    outline: none;
}

/* Style for the search button */
.search-button {
    background-color: #3498db; /* Button background color */
    color: #fff; /* Button text color */
    border: 1px solid #3498db; /* Button border color */
    border-radius: 0 5px 5px 0; /* Rounded right corners */
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

/* Style for the search icon */
.search-icon {
    margin-right: 8px; /* Adjust spacing between icon and text */
}

/* Hover effect for the button */
.search-button:hover {
    background-color: #2980b9; /* Change background color on hover */
}
.list-container {
    width: 100%;
    padding: 3vh;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; /* Initially hidden */
    animation: fadeInOut 0.3s ease-in-out; /* High-quality fade animation */
}
.icon {
    transition: transform 0.5s ease-in-out;
    display: inline-block;
    margin-right: 5px;
}

.rotated {
    transform: rotate(180deg);
}

.list.expanded .rotated {
    transform: rotate(0deg);
}
.list-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.list-item:last-child {
    border-bottom: none;
}

.list-item:hover {
    background-color: #f0f0f0;
}

.collapse-button {
    background-color: transparent;
    color: #002868;
    border: none;
    text-align: left;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.collapse-button:hover {
    background-color: #ccc;
}

/* Show the list when the expanded class is present */
.list.expanded {
    display: block;
}

@keyframes fadeInOut {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
