
.main-title {
    display: flex;
    align-items: center;
    padding-top: 3vh;
    gap: 4vw;
}
.message-container{
    width: 60%;
}
.welcome-message {
    padding: 3vh;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message-header {
    color: #50A9FB;
    font-size: 3.5rem;
    letter-spacing: 5px;
    line-height: 6vh;
}

.message-content {
    color: #3b3b3b;
    font-size: 20px;
    line-height: 4vh
}
.dg-name{
    font-size: 2rem;
    margin-top: 4vh;
    font-weight: bold;
    line-height: 2vh;
}
.dg-position{
    font-style: italic;
}
.dgca-merged{
    width: 500px;
    height: auto;
}
