
.hidden{
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    transform: translateY(0)
}

.bulletin-content {
    padding: 10px;
    background-color: #ffff;
    margin-left: 15vh;
}
.bulletin-grp {
    margin-top: 5vh;
}
.bullet-hdr {
    font-size: 2rem;
    color: #002868;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}
.bullet-details {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bullet-img {
    width: 100px;
    height: auto;
    margin-right: 5vh;
}
.bullet-desc {
    width: 60%;
    text-align: justify;
    font-size: 18px;
    color: #3b3b3b;
}
.bullet-desc li{
    list-style-type: none;
    margin: 10px;
    text-align: left;
}
.bullet-desc a{
    text-decoration: none;
}
.bullet-desc .bullet-email{
    text-decoration: none;
    margin-left: 7px;
}
.visa-grp{
    padding-top: 5vh;
}
.visa-link{
    padding: 20px;
    border-radius: 99px;
    font-size: 16px;
    text-transform: capitalize;
    background-color: #50A9FB;
    color: #ffff;
}
.visa-link:hover{
    background-color: #969696;
    color: #ffff;
}
.backtotop-container{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}
.backtotop{
    text-align: center;
    text-decoration: none;
    color: #ffff;
    background-color: #50A9FB;
    padding: 25px;
    border-radius: 99px;
    width: 20%;

}
.backtotop:hover{
    background-color: #969696;
    color: #ffff;
    text-decoration: none;
}
.highlight{
    color: #002868;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .bulletin-content{
        margin: 0;
    }
    .bullet-hdr{
        font-size: 1.5rem;
    }
    .bullet-desc{
        width: 100%;
        padding-top: 3vh;
    }
    .bullet-img {
        width: 60px;
        height: auto;
        margin-right: 3vh;
    }
    .backtotop{
        width: 80%;
    }
}
