
.hidden{
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    transform: translateY(0)
}
.medical-support{
    padding-top: 5vh;
}
.medical-hdr {
    font-size: 2rem;
    color: #50A9FB;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5vh;
}
.medical-img{
    width: 90px;
    height: auto;
}
.medical-content{
    padding: 25px;
    font-size: 16px;
    text-align: justify;
}
.medical-content ul{
    padding: 15px;
}
.medical-content li{
    list-style-type: none;
}
.medical-content a{
    text-decoration: none;
}
