/* BANNER CSS */
.head-banner {
    position: relative;
    overflow: hidden;
}

.head-banner .banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
    filter: blur(0px);
}
.banner-content {
    display: flex;
    justify-content: space-around;
}
.banner-title {
    font-size: 4rem;
    color: #ffff;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);
    margin-top: 40vh;
    font-weight: bold;
    margin-left: 15vh;
    line-height: 7vh;
    padding: 20px;
    width: 100%;
}
.dgca-title {
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);
    color: #ffff;
    font-size: 4rem;
    font-weight: bold;
    line-height: 8vh;
    text-transform: uppercase;
    margin-left: 10vh;
    margin-top: 10vh;
    width: 60%;
    text-align: end;
}
@media screen and (max-width: 768px) {
    .banner-content {
        margin-top: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .banner-title {
        margin: 0;
    }
    .dgca-title {
        margin: 0;
        text-align: left;
        font-size: 2.5rem;
        line-height: 6vh;
        margin-top: 3vh;
    }
    .reg-steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* --------------------------------- */

.container{
    color: #3b3b3b;
}
.shangrila-img-grp{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vh;

}
.shangrila-img {
    width: 100%; /* Set the width to 100% to make the images fill the container */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    max-width: 600px; /* Limit the maximum width to prevent images from becoming too large */
}
.shangrila-header{
    font-size: 3rem;
    color: #50A9FB;
    text-align: center;
    margin-top: 15px;
}
.shangrila-subheader{
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}
.shangrila-content{
    padding: 3vh;
    text-align: justify;
    font-size: 18px;
}
.shangrila-list{
    padding: 15px;
}
.shangrila-list li{
    margin: 15px;
}
.shangrila-btn-grp {
    margin: 4vh 0;
}
.website-btn{
    border-radius: 99px;
    padding: 25px;
    background-color: #50A9FB;
    color: #ffff;
    text-decoration: none;
}
.website-btn:hover{
    background-color: #969696;
    color: #ffff;
}
.venue-contacts{
    padding-top: 5vh;
}
.venue-hdr {
    font-size: 2rem;
    color: #50A9FB;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 2vh;
}
.venue-img{
    width: 90px;
    height: auto;
}
.link-hdr{
    color: #50A9FB;
    font-size: 2rem;
    margin-top: 4vh;
}
.shangrila-link{
    display: block;
    margin: 3vh;
}
.link-item{
    text-decoration: none;
    color: #3b3b3b;
    padding: 8px;
    margin: 5px;
    border-radius: 16px;
}
.shangrila-link div{
    margin: 10px;
}

.link-item:hover{
    background-color: #002868;
    color: #ffff;
    transition: .1s ease;
}
@media screen and (max-width: 768px) {
    .shangrila-img-grp {
        flex-direction: column; /* Align vertically */
        align-items: center; /* Center items horizontally */
    }

    .shangrila-img {
        max-width: 100%; /* Take full width on smaller screens */
        margin-bottom: 15px; /* Add spacing between images */
    }


}
@media only screen and (min-width: 300px) and (max-width: 600px){
    .website-btn {
        font-size: 3vw;
    }
}
