.count-header{
    padding: 10px 10px;
}

.count-card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 15px;
    background-color: #ffff;
    width: 300px;
    border-radius: 15px;
}

.total-accounts{
    font-size: 17px;

}
.count-value{
    font-size: 1.5rem;
    font-weight: bold;
}
.accounts-table{
    padding-top: 15px;
}
.export-container{
    margin-top: 3vh;
    margin-left: 2vw;
}
.export_header{
    font-size: 2em;
    font-weight: bold;
    color: #3b3b3b;
    text-transform: capitalize;
}

.export-btn-container{
    margin-top: 2vh;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 6vh;
}
.open_pdf{
    width: 30%;
    text-align: center;
    background-color: #ffff;
    color: #3b3b3b;
    padding: 16px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 99px;
    transition: .1s;
}
#reg_list:hover{
    color: #ffff;
    background-color: #50A9FB;
}
#pending_list:hover{
    color: #ffff;
    background-color: #50A9FB;
}



