.count-header{
    padding: 10px 10px;
}

.count-card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 15px;
    background-color: #ffff;
    width: 300px;
    border-radius: 15px;
}

.total-accounts{
    font-size: 17px;

}
.count-value{
    font-size: 1.5rem;
    font-weight: bold;
}

.export-btn-container{
    margin: 15px;
    padding: 15px;
}
.export-btn{
    background-color: #389006;
    color: #ffff !important;
    text-decoration: none;
    padding: 25px;
    border-radius: 100px;
    text-align: center;
}
.export-btn:hover{
    text-decoration: none;
    background-color: #4fb912;
}
.accounts-table{
    padding-top: 15px;
}
