.pending-reminder{
    border: 2px dashed #969696;
    display: inline-block;
    border-radius: 20px;
}
.status-form{
    padding: 15px;
    margin-bottom: 3vh;
    color: #3b3b3b;
    width: 100%;
    border-radius: 20px;
}
.status-reminder{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
.status-message{
    font-size: 18px;
}


/* APPROVE BUTTON CSS */
.approve-btn{
    padding: 15px;
    background-color: #389006;
    color: #ffff;
    border-radius: 99px;
    border: none;
    text-align: center;
    width: 40%;
    display: inline-block;
}
.approve-btn:hover{
    background-color: #50A9FB;
}
.main-content{
    flex: wrap;
    width: 100%;
    padding: 5vh;
    color: #3b3b3b;

}
.email-section{
    border-bottom: 1px solid #50A9FB;
}
.image-grp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.organization{
    font-size: 1.7rem;
    color: #969696;
    font-style: italic;
    margin: 15px;
    text-align: center;
}
.name-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.profile-img{
    width: 200px;
    height: 200px;
    border-radius: 99px;
}
.multi-grp{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}
.grp{
    margin-top: 3vh;
}
.header-label{
    font-size: 1.6rem;
    color: #50A9FB;
}
.profile-details{
    font-size: 1.2rem;
}
