.page-header {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
    padding: 5px 10px;
}
.edit-form{
    width: 100%;
}
.file_detail_cont{
    display: flex;
    justify-content: center;
    gap: 7vw;
}
.file_submitter_info, .file_main_info{
    width: 100%;
}

.edit-label{
    font-size: 16px;
}
.edit-file-main{
    display: flex;
    flex-wrap: wrap;
    gap: 6vh;
}

.file_main_info{
    background-color: #ffff;
}
.edit-guide{
    font-size: 2rem;
    color: #002868;
    font-weight: bold;
}
.guide-content{
    padding: 25px;
    text-align: justify;
    color: #3b3b3b;
}


.update-file-btn{
    display: block;
    margin: 0 auto;
    border-radius: 17px;
    color: #ffff;
    border: none;
    width: 40%;
    padding: 16px;
    background-color: #50A9FB;
}
.update-file-btn:hover{
    background-color: #969696;
}
