
.caap-logo-grp{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vh;
}
.caap-img{
    width: 200px;
    height: auto;
}
.caapname{
    font-size: 2rem;
    font-weight: bold;
    color: #002868;
    width: 80%;
    line-height: 4vh;
}
.about-title-img{
    width: 80px;
    height: auto;
}
.about-section-header{
    display: flex;
    align-items: center;
    gap: 4vh;
    margin-top: 5vh;
    font-size: 3rem;
    padding: 15px;
    text-transform: uppercase;
    color: #50A9FB;
}
.about-content{
    text-align: justify;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    color: #3b3b3b;
}
.about-content span{
    font-weight: bold;
}
