.contact-us{
    color: #3b3b3b;
}
.contact-us a{
    text-decoration: none;
}
.contact-header{
    color: #50A9FB;
    font-size: 4vw;
}
.contact-message{
    font-size: 17px;
    color: #969696;
    font-style: italic;
}

.dgca-emails{
    padding: 20px;
}
.dgca-emails-header{
    font-size: 2rem;
    color: #50A9FB;
}
.email-add {
    word-break: break-all;
}
.grp{
    display: flex;
    flex-wrap: wrap;
}
.email-grp{
    padding-top: 2vh;
}
.email-label{
    font-size: 1.5rem;
}
.email-label .fa-solid{
    margin-right: 15px;
}

.email-add{
    font-size: 1.3rem;
}
.email-content{
    margin-top: 5vh;
}
.svg{
    display: flex;
    justify-content: end;
}
.contact-svg{
    width: 70%;
    height: auto;

}
@media screen and (max-width: 768px) {
    .contact-header{
        color: #50A9FB;
        font-size: 7vw;
    }
    .email-label{
        font-size: 3.5vw;
    }
    .email-add{
        font-size: 3vw;
    }
}
