.contact-us{
    color: #3b3b3b;
    margin-bottom: 10vh;
}
.contact-us a{
    text-decoration: none;
}
.contact-header{
    color: #50A9FB;
    font-size: 4vw;
}
.contact-message{
    font-size: 17px;
    color: #969696;
    font-style: italic;
}

.dgca-emails{
    padding: 30px;
}
.dgca-emails-header{
    font-size: 2rem;
    color: #50A9FB;
}
.email-add {
    word-break: break-all;
}
.grp{
    display: flex;
}
.email-grp{
    padding-top: 2vh;
    width: 100%;
}
.email-label{
    font-size: 1.2rem;
}
.email-label .fa-solid{
    margin-right: 15px;
}

.email-add{
    font-size: 1.3rem;
}
.email-content{
    margin-top: 5vh;
}
.svg{
    display: flex;
    justify-content: end;
}
.contact-svg{
    width: 100%;
    height: auto;

}
@media screen and (max-width: 768px) {
    .contact-header{
        line-height: 6vh;
        text-align: center;
        margin-bottom: 4vh;
    }
    .contact-message{
        text-align: justify;
    }
    .dgca-emails{
        padding-bottom: 6vh;
    }
    .grp{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .contact-header{
        color: #50A9FB;
        font-size: 7vw;
    }
    .dgca-emails-header{
        text-align: center;
        line-height: 6vh;
    }
    .email-content{
        text-align: justify;
    }
    .email-label{
        font-size: 3.5vw;
    }
    .email-add{
        font-size: 3vw;
    }
    .contact-svg{
        width: 300px;
        height: auto;
    }
}
