.notices-section {
    padding: 5vh;
    color: #3b3b3b;
    width: 100%;

}

.notice-header {
    font-weight: bold;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}


.notice-card {
    display: flex;
    align-items: center;
    gap: 3vh;
    margin: 30px;
    background-color: #ffff;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.notice-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    align-self: center;
}

.notice-content {
    padding: 25px;

}

.notice-title {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #3b3b3b;
}
.date{
    font-size: 17px;
    font-style: italic;
    color: #969696;

}
.notice-description {
    margin-top: 20px;
    font-size: 15px;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limit to 4 lines */
    -webkit-box-orient: vertical;
}
