
.hidden{
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    transform: translateY(0)
}
.registration-content{
    padding: 25px;
    margin-top: 6vh;
}
.registration-main{
    display: flex;
    align-items: center;
    gap: 5vh;
}
.registration-header{
    font-size: 20px;
    font-weight: 800;
    color: #002868;
}
.reg-link-grp{
    margin-top: 20px;
}
.register-link{
    text-decoration: none;
    font-size: 17px;
    padding: 20px;
    border-radius: 99px;
    background-color: #50A9FB;
    color: #ffff;
    width: 40%;
}
.register-link:hover{
    background-color: #969696;
    color: #ffff;
}
.registration-steps-sect{
    margin-top: 4vh;
}
.process-header{
    font-size: 3rem;
    color: #50A9FB;
}
.reg-steps-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 3vh;
}

.card {
    width: 100%;
    max-width: 300px;
    border: 1px solid #50A9FB;
    border-radius: 16px;
    overflow: hidden;
    margin: 10px;
    padding: 15px;
    transition: ease .1s;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.step-num{
    text-align: center;
    font-size: 1.5rem;
    background-color: #002868;
    color: #ffff;
    border-radius: 99px;
    margin-bottom: 3vh;
}

.card .step-img{
    margin: 0 auto;
    width: 150px;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.card .approve{
    margin: 0 auto;
    width: 100px;
    height: auto;
    border-bottom: 1px solid #ccc;
}

.card-content {
    padding: 15px;
    margin-top: 2vh;
    color: #3b3b3b;
}
.btn-guide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.guide-link{
    padding: 10px;
    color: #ffff;
    text-decoration: none;
    background-color: #50A9FB;
    text-align: center;
    border-radius: 99px;
    width: 100%;
}
.guide-link:hover{
    background-color: #969696;
    color: #ffff;
}
.form-guides-sect{
    padding-top: 3vh;
    padding-bottom: 5vh;
}
.form-reqs-header{
    font-size: 3rem;
    color: #50A9FB;
}
.form-guides-sect h1{
    color: #3b3b3b;
    text-align: center;
    padding: 20px;
    margin-bottom: 5vh;
}

@media screen and (max-width: 768px) {

    .registration-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .dgca-title{
        margin: 0;
        text-align: left;
        font-size: 2.5rem;
        line-height: 6vh;
        margin-top: 3vh;
    }
    .reg-steps-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .process-header{
        text-align: center;
        font-size: 3rem;
    }
    .card:hover{
        background-color: #ffff;
        font-weight: none;
    }
    .card-content{
        display: block;
    }
    .form-reqs-header{
        text-align: center;
    }
}
