
  .page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  header,
  main {
    background: #ddd;
    color: red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    background: #fff;
    height: auto;
  }

  /* Actual code */

  .carousel-tabs {
    width: 100%;
    display: flex;
    flex-direction: column;

    .list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
    }

    .item {
      color: #888;
      width: 100%;
      display: inline-flex;
      justify-content: center;
      padding: 24px 0;
      cursor: pointer;
      transition: transform 0.125s ease;

      &:active {
        transform: scale(0.95);
      }

      &:active,
      &.active {
        color: #444;
        font-weight: 600;
      }
    }

    .progress {
      -webkit-appearance: none;
      width: 100%;
      height: 12px;
      background: #bbb;
      outline: none;
      margin: 0;
      transition: all 10s ease;
    }

    .progress::-webkit-progress-value {
      background: #444;
    }
  }

  .page-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(.active) {
      display: none;
    }
  }
