@import url("https://fonts.cdnfonts.com/css/quiapo-free");

.announcements {
    background-color: #002868;
    font-size: 1.5rem;
    color: #ffff;
    font-weight: bold;
    padding: 7px;
}
.responsive-content {
    display: none;
}
.tamayo {
    display: inline-block;
}
.tamayo-img {
    position: absolute;
    width: 300px;
    height: auto;
    top: 24%;
    right: 70%;
    z-index: 1;
}
.caap-img {
    position: absolute;
    width: 500px;
    opacity: 0.3;
    height: auto;
    top: 20%;
    right: 70%;
    z-index: -2;
}
.dg-details {
    position: absolute;
    width: 400px;
    top: 75%;
    right: 70%;
    z-index: 5;
    background-color: #002868;
    color: #ffff;
    padding: 15px;
}
.name {
    font-size: 20px;
    font-weight: 800;
}
.position {
    font-style: italic;
}
.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.welcome-message {
    padding: 3vh;
    margin-top: 5vh;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.message-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 12vh;
}

.message-header {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #3b3b3b;
    line-height: 6vh;
    margin-bottom: 20px;

    text-align: center; /* If you want the header text to be centered */
}

.message-content {
    color: #3b3b3b;
    width: 800px; /* Center the content horizontally */
    text-align: justify;
}

.welcome-banner {
    margin-top: 10vh;
    line-height: 5vh;
    text-align: center;
    margin-bottom: 10vh;
    /* background: rgb(248,249,253);
    background: linear-gradient(180deg, rgba(248,249,253,1) 0%, rgba(218,238,249,1) 94%, rgba(181,224,243,1) 100%, rgba(134,206,236,1) 100%, rgba(44,172,223,1) 100%); */
}

.welcome {
    font-size: 3.5rem;
    font-weight: bold;
    color: #002868;
}

.to-the {
    color: #434343;
    font-size: 1.5rem;
    font-style: italic;
}
.dg-span {
    line-height: 6vh;
}
/* .dg-span:hover{
    transform: scale(1.5);
    transition: .3s ease;
} */
.conference {
    color: #0046b9;
    font-size: 3rem;
    font-weight: 800;
}

.asia-pacific {
    background-color: #e2b100;
    color: #fff;
    font-size: 2rem;
    display: inline-block;
    width: 60%;
    border-radius: 100px;
    margin-top: 1vh;
    font-style: italic;
}

.philippines {
    margin-top: 30px;
    font-family: "Quiapo Free", sans-serif;
    font-size: 6rem;
    color: #c11717;
}

/* CSS */
.button-19 {
    appearance: button;
    background-color: #1899d6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    margin-top: 50px;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 20%;
    text-decoration: none;
}

.button-19:after {
    background-clip: padding-box;
    background-color: #1cb0f6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-19:main,
.button-19:focus {
    user-select: auto;
}

.button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
    text-decoration: none;
}

.button-19:disabled {
    cursor: auto;
}

.button-19:active {
    border-width: 4px 0 0;
    background: none;
}
.slider-frame {
    overflow: hidden;
    width: 100%;
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 20px auto; /* Center the slider */
    height: 400px; /* Set the desired height */
    box-shadow: #0046b9 16px 16px;
}

.slide-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%; /* Make sure the images fill the entire height of the slider */
}

.img-container {
    flex: 0 0 100%;
    box-sizing: border-box;
}

.img-container img {
    width: 100%; /* Make images fill the entire width of the container */
    height: 100%; /* Make images fill the entire height of the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}
.airport-hdr {
    text-align: center;
    font-size: 5rem;
    color: #002868;
    font-weight: 900;
}
.airport-span {
    color: #ffd54f;
    text-shadow: #3b3b3b 5px 5px;
}
.count-section {
    margin-top: 5vh;
    padding: 2vh;
    width: 100%;
}
.countdown-sect {

    color: #333;
    margin: 0 auto;
    text-align: center;
}

.countdown-header {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ffd54f;
}

.countdown ul li {
    display: inline-block;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.countdown ul li span {
    width: 100%;
    display: block;
    font-size: 2rem;
    color: #ffff;
    background-color: #002868;
    padding: 20px;
    border-radius: 20px;
}
.dgca-footer {
    /* background: rgba(255, 255, 255, 2) url("/img/city3.png") bottom
        no-repeat fixed; */
    background-color: #ffff;
}
.hosted-header {
    color: #0046b9;
    font-size: 2.3rem;
    text-align: center;
}
.hosts-grp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}
.caap-host-img {
    width: 300px;
    height: auto;
}
.host-content {
    display: block;
    width: 60%;
}
.caap-logo-left {
    width: 30%;
}
.host-content-header {
    font-size: 1.5rem;
    color: #3b3b3b;
    font-style: italic;
}
.host-content-caap-name {
    font-size: 2.5rem;
    color: #002868;
    font-weight: bold;
    line-height: 4vh;
}
.city {
    position: relative;
}
.city-img {
    position: absolute;
    width: 1100px;
    height: auto;
    top: 50%;
    right: 20%;
    z-index: -1;
    opacity: 0.8;
}

/* Modal CSS */
.modal {
    color: #3b3b3b;
}
.modal-header {
    color: #ffff;
    font-size: 1.5rem;
    background-color: #0046b9;
}
.congratulations {
    font-size: 1.1rem;
    font-style: italic;
    line-height: 25px;
}
.note {
    font-size: 1.2rem;
    font-style: italic;
    color: #0046b9;
}
.email-link {
    font-size: 15px;
    margin-top: 15px;
    font-style: italic;
}
@media screen and (max-width: 1024px) {
    .welcome-banner {
        line-height: 3vh;
    }
    .conference {
        line-height: 5vh;
    }
    .hosts-grp {
        gap: 4vh;
    }
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }
    .container {
        display: block;
    }
    .announcements {
        font-size: 1.2rem;
        padding: 5px;
    }

    .tamayo-img {
        display: none;
    }

    .caap-img {
        display: none;
    }
    .responsive-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .responsive-tamayo-img {
        width: 400px;
        height: auto;
        z-index: 1;
    }
    .responsive-name-position {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }
    .responsive-name {
        font-size: 1.5rem;
        color: #002868;
        font-weight: bold;
        line-height: 3vh;
    }
    .responsive-position {
        font-style: italic;
        color: #002868;
    }
    .dg-details {
        display: none;
    }

    .name {
        font-size: 18px;
    }

    .position {
        font-size: 16px;
    }

    .main-title {
        padding: 2vh;
    }

    .welcome-message {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .message-main,
    .message-content {
        width: 350px;
    }
    .message-main {
        margin-left: 0;
    }

    .message-header {
        font-size: 2rem;
        line-height: 5vh;
        margin-bottom: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .dgca-conf {
        font-size: 2.3rem;
        line-height: 4vh;
    }
    .message-content {
        font-size: 14px;
    }

    .conference {
        font-size: 2.5rem;
    }

    .asia-pacific {
        font-size: 2rem;
        width: 80%;
    }

    .philippines {
        font-size: 6rem;
    }

    .wonders-sect {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .airport-hdr {
        font-size: 4.2rem;
        line-height: 8vh;
        margin-top: 6vh;
    }

    .welcome-banner {
        margin-top: 5vh;
        line-height: 3vh;
        margin-bottom: 5vh;
    }

    .welcome {
        font-size: 2.5rem;
    }

    .to-the {
        font-size: 1.2rem;
    }

    .dg-span {
        line-height: 4vh;
    }

    .conference {
        font-size: 2rem;
    }

    .asia-pacific {
        font-size: 1.5rem;
        width: 100%;
    }

    .philippines {
        font-size: 4rem;
    }

    .button-19 {
        font-size: 20px;
        padding: 10px 13px;
        width: 80%;
    }

    .slider-frame {
        height: 300px;
    }

    .countdown-header {
        font-size: 24px;
    }

    .countdown ul li {
        font-size: 1.2rem;
        padding: 0.5em;
    }

    .countdown ul li span {
        font-size: 1.5rem;
        padding: 15px;
        border-radius: 10px;
    }

    .hosted-header {
        font-size: 1.8rem;
    }

    .hosts-grp {
        flex-direction: column;
    }

    .caap-host-img {
        width: 100%;
    }

    .host-content {
        width: 100%;
    }

    .host-content-header {
        font-size: 1rem;
    }

    .host-content-caap-name {
        font-size: 2rem;
        line-height: 3vh;
    }

    .city-img {
        width: 100%;
        top: 50%;
        right: 0;
    }
    .dgca-footer {
        text-align: center;
    }
    .host-content {
        margin-top: 5vh;
    }
    .host-content-header {
        font-size: 1.7rem;
    }
    /* Additional responsive styles go here */
}

@media (769px <= width <= 1280px) {
    .tamayo {
        display: none;
    }
    .responsive-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .responsive-tamayo-img {
        width: 400px;
        height: auto;
        z-index: 1;
    }
    .responsive-name-position {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }
    .responsive-name {
        font-size: 1.5rem;
        color: #002868;
        font-weight: bold;
    }
    .responsive-position {
        font-style: italic;
        color: #002868;
    }
    .welcome-message {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .message-main {
        margin: 0;
    }
    .message-header {
        text-align: center;
    }
    .message-content {
        width: 100%;
    }
    .button-19 {
        width: 70%;
    }
}

@media (1281px <= width <= 1590px) {
    .tamayo-img {
        position: absolute;
        width: 300px;
        height: auto;
        top: 24%;
        right: 70%;
        z-index: 1;
    }
    .caap-img {
        position: absolute;
        width: 400px;
        opacity: 0.3;
        height: auto;
        top: 20%;
        right: 70%;
        z-index: -2;
    }
    .dg-details {
        position: absolute;
        width: 400px;
        top: 75%;
        right: 70%;
        z-index: 5;
        background-color: #002868;
        color: #ffff;
        padding: 15px;
    }
    .name {
        font-size: 20px;
        font-weight: 800;
    }
    .position {
        font-style: italic;
    }
    .main-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .welcome-message {
        padding: 3vh;
        margin-top: 5vh;
        background-color: #ffff;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .message-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 24vh;
    }

    .message-header {
        font-size: 3rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: #3b3b3b;
        line-height: 6vh;
        margin-bottom: 20px;

        text-align: center; /* If you want the header text to be centered */
    }

    .message-content {
        color: #3b3b3b;
        width: 800px; /* Center the content horizontally */
        text-align: justify;
    }
}

@media (max-width: 430px) {
    .logos-main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    .container,
    .content-main {
        width: 400px;
    }
    .welcome-message {
        padding: 3vh;
        margin-top: 5vh;
        background-color: #ffff;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .message-main {
        width: 600px;
    }
    .responsive-content {
        margin: 3vh;
    }
    .responsive-tamayo-img {
        width: 300px;
        height: auto;
        z-index: 1;
    }
    .responsive-name {
        line-height: 4vh;
    }
    .responsive-position {
        margin-top: 2vh;
    }
    .dgca-conf {
        margin-top: 3vh;
        line-height: 5vh;
    }
    .message-content {
        color: #3b3b3b;
        font-size: 14px;
        width: 300px; /* Center the content horizontally */
        text-align: justify;
    }
    .welcome {
        margin-bottom: 10px;
    }
    .conference {
        padding: 7px;
    }
    .asia-pacific {
        padding: 15px;
    }
    .caap-host-img {
        width: 160px;
        height: auto;
        margin-right: 20px;
    }
    .airport-hdr {
        font-size: 3rem;
    }
    .host-content-caap-name {
        margin-top: 2vh;
        line-height: 4vh;
    }
    .nav-caap-logo,
    .nav-bagong-pilipinas-logo,
    .nav-caap-logo,
    .nav-bagong-pilipinas-logo {
        width: 100px;
        height: auto;
    }
}
