@import url("https://fonts.cdnfonts.com/css/quiapo-free");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Protest+Riot&display=swap");

@font-face {
    font-family: "Batangas"; /* Specify the font family name */
    src: url("/font/batangas-700.otf") format("opentype"); /* Specify the correct format for the font file */
}

.hidden {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s;
}
.show {
    opacity: 1;
    transform: translateY(0);
}
.welcome {
    background: url("/img/home/photo-tiles-strip.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 175% 45%;
    z-index: 5;
    padding: 5vh;
    color: #3b3b3b;

}
.welcome-header {
    margin-top: 5vh;
    font-size: 4vw;
    line-height: 7vh;
}
.plane-sketch {
    margin-left: 3vh;
    width: 100px;
    height: auto;
}
.span {
    font-family: "Batangas";
}
.theme {
    margin-top: 2vh;
    font-size: 4vh;
    font-family: "Batangas";
}
.theme-message {
    width: 60%;
}

/* SUB NAVIGATION */
.main-conf-nav {
    display: inline-block;
}
.conf-nav ul {
    display: flex;
    align-items: center;
    background-color: #ffff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.conf-nav li {
    list-style-type: none;
    margin: 15px;
}

.conf-nav li a {
    text-decoration: none;
    font-size: 15px;
    color: #3b3b3b;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}
.conf-nav li a:hover {
    text-decoration: underline;
}
.conf-nav li a .fa-solid {
    margin-right: 10px;
    font-size: 1.1rem;
    color: #001e50;
}
/* .conf-nav li a:hover{
    background-color: #001E50;
    color: #ffff;
    border-radius: 15px;
    transition: .1s ease-in-out;

} */

/* Dropdown styles */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 110%;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    width: 300px;
    border-radius: 15px;
}

.dropdown .dropdown-content a {
    color: #3b3b3b;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    width: 100%;
    font-weight: 400;
    text-transform: capitalize;
}

.dropdown-content a:hover {
    background-color: #001e50;
    color: #ffff;
    transition: 0.1s ease;
    margin-left: 10px;
    border-radius: 0 15px 15px 0;
}

.abt-us-ctn {
    margin-top: 6vh;
    margin-bottom: 2%;
}
.about-us-btn {
    font-size: 17px;
    color: #3b3b3b;
    border: 2px solid #3b3b3b;
    padding: 10px;
    text-decoration: none;
    letter-spacing: 2px;
}
.about-us-btn:hover {
    background-color: #3b3b3b;
    color: #ffff;
}
.arrow-dotted {
    width: 40px;
    height: auto;
    margin-left: 5vh;
    transform: rotate(270deg);
}

.city-smoke-bg {
    width: 100%; /* Set width to 100% to fit the screen */
    height: auto;
    position: absolute;
    top: 80%;
    left: 0; /* Set left to 0 to align with the left edge of the screen */
}
.cebu-info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.cebu-details {
    background-color: rgba(59, 59, 59, 0.7);
    z-index: 3;
    position: relative;
    color: #ffff;
    padding: 25px;
    margin-right: 50%;
    width: 600px;
    max-height: 600px;
    overflow-y: auto;
}
/* width */
.cebu-details::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.cebu-details::-webkit-scrollbar-track {
    background-color: #ffff;
}

/* Handle */
.cebu-details::-webkit-scrollbar-thumb {
    background: #969696;
    border-radius: 99px;
}

/* Handle on hover */
.cebu-details::-webkit-scrollbar-thumb:hover {
    background: #2263a0;
    border-radius: 99px;
}

.detail-headers {
    line-height: 6.5vh;
}
.detail-main-header {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}

.detail-subheader {
    font-size: 20px;
    text-transform: uppercase;
}
.detail-content {
    margin-top: 3%;
    max-height: 700px;
}
.cebu-pinned-img {
    position: absolute;
    z-index: 2;
    width: 50%;
    height: auto;
    left: 45%; /* Adjust as needed */
    /* Add other styling properties as needed */
}
.announcements {
    padding: 4vh 4vh;
    margin-top: 20%;
    color: #3b3b3b;
}
.announcement-header {
    font-size: 3rem;
    font-weight: bold;
}
.announcement-arrow {
    width: 40px;
    height: auto;
    margin-left: 5vh;
    transform: rotate(270deg);
}
.announcement-content {
    text-align: justify;
}

ul li {
    margin: 10px;
}

.count-section {
    width: 100%;
    text-align: left;
}
.countdown-sect {
    color: #3b3b3b;
}
.countdown-main {
    border-radius: 20px;
}
.countdown-header {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    font-weight: bold;
}
.countdown ul {
    display: flex;
    gap: 6vh;
}
.countdown ul li {
    display: inline-block;
    font-size: 1rem;
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
}

.countdown ul li span {
    width: 100%;
    display: block;
    font-size: 1.5rem;
    border-radius: 20px;
    font-weight: 800;
}
.countdown-message {
    font-size: 1.3vw;
    font-style: italic;
}

.carousel-container {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    overflow: hidden;
    text-align: left;
    justify-content: center;
    padding-right: 40%;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-radio {
    display: none;
}

.carousel-radio-label {
    display: inline-block;
    width: 10%;
    height: 10px;
    background-color: #ddd;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
}

.carousel-inner {
    transition: transform 0.1s ease-in-out; /* Reduced transition duration */
}

#radio1:checked + .carousel-radio-label {
    background-color: #565656;
}

#radio2:checked + .carousel-radio-label {
    background-color: #565656;
}

#radio3:checked + .carousel-radio-label {
    background-color: #565656;
}


@media only screen and (min-width: 1260px) and (max-width: 1440px){
    .welcome {
        background: url("/img/home/photo-tiles-strip.png");
        background-size: 85%;
        background-repeat: no-repeat;
        background-position: 290% 45%;
        z-index: 5;
        padding: 5vh;
        color: #3b3b3b;
        width: 110vw;
    }
    .carousel-container{
        width: 95vw;
        height: 45vh;
        margin-top: -4%;

    }
    .welcome{
        margin-left: -3%;
    }
    .welcome-header{
        font-size: 4.1vw;
    }
    .theme{
        font-size: 2vw;
    }
    .theme-message{
        font-size: 0.9vw;
    }
    .main-conf-nav{
        width: 55vw;
    }
    .main-conf-nav a{
        font-size: 0.8vw !important;
    }
    .about-us-btn{
       font-size: 1.1vw;
    }
    .countdown-sect{
        margin-top: -1%;
    }
    .countdown ul li span {
        font-size: 1.3vw !important;
    }
    .countdown-message{
        font-size: 1.5vw;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1259px){
    .welcome {
        background: url("/img/home/photo-tiles-strip.png");
        background-size: 85%;
        background-repeat: no-repeat;
        background-position: 230% 45%;
        z-index: 5;
        padding: 5vh;
        color: #3b3b3b;
        width: 130vw;
        height: 100vh;
    }
    .carousel-container{
        width: 100vw;
        height: 40vh;
        margin-top: -3%;

    }
    .welcome{
        margin-left: -3%;
    }
    .welcome-header{
        font-size: 4vw;
    }
    .theme{
        font-size: 2vw;
    }
    .theme-message{
        font-size: 0.9vw;
    }
    .main-conf-nav{
        width: 52vw;
    }
    .main-conf-nav ul li a i{
        width: 1vw;
        font-size: 0.5vw;
    }
    .main-conf-nav a{
        width: 20%;
        font-size: 0.69vw !important;
    }
    .conf-nav ul {
        gap: -5% !important;
    }
    .conf-nav i.fa-solid {
        font-size: 1vw !important; /* Adjust the size according to your preference */
        margin-right: 2px; /* Optional: Add some space between the icon and text */
    }
    .about-us-btn{
       font-size: 1.1vw;
    }
    .countdown-sect{
        margin-top: -1%;
    }
    .countdown ul li span {
        font-size: 1.3vw !important;
    }
    .countdown-message{
        font-size: 1.5vw;
    }
}
