@import url("https://fonts.cdnfonts.com/css/quiapo-free");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Protest+Riot&display=swap");

@font-face {
    font-family: "Batangas"; /* Specify the font family name */
    src: url("/font/batangas-700.otf") format("opentype"); /* Specify the correct format for the font file */
}

.hidden {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s;
}
.show {
    opacity: 1;
    transform: translateY(0);
}
.welcome {
    background: url("/img/home/photo-tiles-strip.png");
    background-size: 85% auto;
    background-repeat: no-repeat;
    background-position: calc(100% - -28vw) center; /* Adjust the value as needed */
    z-index: 5;
    padding: 5vh;
    color: #3b3b3b;
    width: 100%;
    height: 100vh;
}
.carousel-container {
    width: 90vw;
    margin-top: -3%;
}


.welcome-header {
    margin-top: 5vh;
    font-size: 4vw;
    line-height: 7vh;
}
.plane-sketch {
    margin-left: 3vh;
    width: 100px;
    height: auto;
}
.span {
    font-family: "Batangas";
}
.theme {
    margin-top: 2vh;
    font-size: 4vh;
    font-family: "Batangas";
}
.theme-message {
    width: 60%;
}

/* SUB NAVIGATION */
.main-conf-nav {
    display: inline-block;
}
.conf-nav ul {
    display: flex;
    align-items: center;
    background-color: #ffff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.conf-nav li {
    list-style-type: none;
    margin: 15px;
}

.conf-nav li a {
    text-decoration: none;
    font-size: 15px;
    color: #3b3b3b;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}
.conf-nav li a:hover {
    text-decoration: underline;
}
.conf-nav li a .fa-solid {
    margin-right: 10px;
    font-size: 1.1rem;
    color: #001e50;
}
/* .conf-nav li a:hover{
    background-color: #001E50;
    color: #ffff;
    border-radius: 15px;
    transition: .1s ease-in-out;

} */

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown1:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 110%;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
    width: 300px;
    border-radius: 15px;
}

.dropdown-content a {
    color: #3b3b3b;
    width: 100%;
    font-weight: 300;
    text-transform: capitalize;
}

.dropdown-content a:hover {
    background-color: #001e50;
    color: #ffff;
    transition: 0.1s ease;
    margin-left: 10px;
    border-radius: 0 15px 15px 0;
    z-index: 5;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown1:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.conf-nav .dropdown-content .dropdown-link {
    position: relative;
    z-index: 1;
}

/* Dropdown styles */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown1 .dropdown-content a {
    color: #3b3b3b;
    width: 100%;
    font-weight: 400;
    text-transform: capitalize;
}

.dropdown-content a:hover {
    background-color: #001e50;
    color: #ffff;
    transition: 0.1s ease;
    margin-left: 10px;
    border-radius: 15px 15px 15px 15px;
    z-index: 5;
}

.abt-us-ctn {
    margin-top: 6vh;
    margin-bottom: 2%;
}
.about-us-btn {
    font-size: 17px;
    color: #3b3b3b;
    border: 2px solid #3b3b3b;
    padding: 10px;
    text-decoration: none;
    letter-spacing: 2px;
}
.about-us-btn:hover {
    background-color: #3b3b3b;
    color: #ffff;
}
.arrow-dotted {
    width: 40px;
    height: auto;
    margin-left: 5vh;
    transform: rotate(270deg);
}

.city-smoke-bg {
    width: 100%; /* Set width to 100% to fit the screen */
    height: auto;
    position: absolute;
    top: 80%;
    left: 0; /* Set left to 0 to align with the left edge of the screen */
}
.cebu-info {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Adjusted from center to flex-start */
    margin-top: 10%;
}

.cebu-details {
    background-color: rgba(59, 59, 59, 0.7);
    position: relative;
    color: #ffff;
    padding: 25px;
    width: 50%;
    border-radius: 20px;
}
/* width */
.cebu-details::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.cebu-details::-webkit-scrollbar-track {
    background-color: #ffff;
}

/* Handle */
.cebu-details::-webkit-scrollbar-thumb {
    background: #969696;
    border-radius: 99px;
}

/* Handle on hover */
.cebu-details::-webkit-scrollbar-thumb:hover {
    background: #2263a0;
    border-radius: 99px;
}

.detail-headers {
    line-height: 6.5vh;
    width: 100%;
}
.detail-main-header {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}

.detail-subheader {
    font-size: 20px;
    text-transform: uppercase;
}
.detail-content {
    margin-top: 3%;
    max-height: 700px;
}
.cebu-pinned-img {
    position: absolute;
    z-index: 2;
    width: 50%;
    height: auto;
    left: 45%; /* Adjust as needed */
    /* Add other styling properties as needed */
}

.count-section {
    width: 100%;
    text-align: left;
}
.countdown-sect {
    color: #3b3b3b;
}
.countdown-main {
    border-radius: 20px;
}
.countdown-header {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    font-weight: bold;
}
.countdown ul {
    display: flex;
    gap: 6vh;
}
.countdown ul li {
    display: inline-block;
    font-size: 1vw;
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
}

.countdown ul li span {
    width: 100%;
    display: block;
    font-size: 1.5vw !important;
    border-radius: 20px;
    font-weight: 800;
}
.countdown-message {
    font-size: 1.2vw;
    font-style: italic;
}

.carousel-container {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    overflow: hidden;
    text-align: left;
    justify-content: center;
    right: 30%;
}

.carousel-inner {
<<<<<<< HEAD
    display: flex;
    transition: transform 2s ease-in-out;
=======
    width: 100%;
    transition: transform 0.5s ease-in-out;
>>>>>>> 1c45193a793f01c264caa5a340b26bae07fcce55
}

.carousel-item {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
<<<<<<< HEAD
    transition: opacity 2s ease-in-out;
=======
    transition: opacity 0.5s ease-in-out;
    left: 30%;
>>>>>>> 1c45193a793f01c264caa5a340b26bae07fcce55
}

.carousel-item.active {
    opacity: 1;
}

.carousel-radio {
    display: none;
}

.carousel-radio-label {
    display: inline-block;
    width: 10%;
    height: 10px;
    background-color: #ddd;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
}

.carousel-inner {
    transition: transform 0.1s ease-in-out; /* Reduced transition duration */
}

#radio1:checked + .carousel-radio-label {
    background-color: #565656;
}

#radio2:checked + .carousel-radio-label {
    background-color: #565656;
}

#radio3:checked + .carousel-radio-label {
    background-color: #565656;
}

@media only screen and (min-width: 1260px) and (max-width: 1440px) {
    .welcome {
        background: url("/img/home/photo-tiles-strip.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: calc(100% - -45vw) center; /* Adjust the value as needed */
        z-index: 5;
        padding: 5vh;
        color: #3b3b3b;
        width: 103%;
        height: 100vh;
    }
    .carousel-container {
        width: 90vw;
        margin-top: -4%;
    }
    .welcome {
        margin-left: -3%;
    }
    .welcome-header {
        font-size: 4.1vw;
    }
    .theme {
        font-size: 2.3vw;
    }
    .theme-message {
        font-size: 1.2vw;
    }
    .main-conf-nav {
        width: 55vw;
    }
    .main-conf-nav a {
        font-size: 0.8vw !important;
    }
    .about-us-btn {
        font-size: 1.1vw;
    }
    .countdown-sect {
        margin-top: -1%;
    }
    .countdown ul li span {
        font-size: 1.3vw !important;
    }
    .countdown-message {
        font-size: 1.2vw;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1259px) {
    .welcome {
        background: url("/img/home/photo-tiles-strip.png");
        background-size: 110% auto;
        background-repeat: no-repeat;
        background-position: calc(100% - -55vw) center; /* Adjust the value as needed */
        z-index: 5;
        padding: 5vh;
        color: #3b3b3b;
        width: 103%;
        /* height: 90vh; */
    }
    .carousel-container {
        width: 89vw;
        margin-top: -8%;
    }
    .welcome {
        margin-left: -3%;
    }
    .welcome-header {
        font-size: 4.3vw;
    }
    .theme {
        font-size: 2vw;
    }
    .theme-message {
        font-size: 0.9vw;
    }
    .main-conf-nav {
        width: 70vw;
    }
    .main-conf-nav ul {
        width: 60vw;
    }
    .main-conf-nav a {
        width: 20%;
        font-size: 0.85vw !important;
    }

    .conf-nav i.fa-solid {
        font-size: 1vw !important; /* Adjust the size according to your preference */
        margin-right: 2px; /* Optional: Add some space between the icon and text */
    }
    .about-us-btn {
        font-size: 1.1vw;
    }
    .countdown-sect {
        margin-top: -1%;
    }
    .countdown ul li span {
        font-size: 1.3vw !important;
    }
    .countdown-message {
        font-size: 1.5vw;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1024px) {
    .content-main {
        margin-left: -4%;
    }
    .welcome {
        background: url("/img/home/photo-tiles-strip.png");
        background-size: 120% auto;
        background-repeat: no-repeat;
        background-position: calc(100% - -50vw) center; /* Adjust the value as needed */
        z-index: 5;
        padding: 0vh;
        color: #3b3b3b;
        width: 100%;
        /* height: 90vh; */
    }
    .carousel-container {
        width: 100%;
        margin-top: -2%;
    }
    .plane-sketch {
        width: 50px; /* Set the desired width */
        height: 50px; /* Set the desired height */
    }
    .welcome-header {
        font-size: 5vw;
    }
    .theme {
        font-size: 2.8vw;
    }
    .theme-message {
        font-size: 1.5vw;
        width: 50vw;
    }
    .main-conf-nav {
        margin-top: 3%;
        width: 88vw;
    }
    .conf-nav i.fa-solid {
        font-size: 1.5vw !important; /* Adjust the size according to your preference */
        margin-right: 2px; /* Optional: Add some space between the icon and text */
    }
    .main-conf-nav a {
        font-size: 1.4vw !important;
    }
    .about-us-btn {
        font-size: 1.3vw;
    }
    .countdown-sect {
        margin-top: -1%;
    }
    .countdown ul li span {
        font-size: 2.5vw !important;
    }
    .countdown ul li {
        font-size: 1.5vw !important;
    }
    .countdown ul {
        gap: 2%;
    }
    .countdown-message {
        font-size: 1.5vw;
    }
}

@media only screen and (min-width: 653px) and (max-width: 799px) {
    .content-main {
        margin-left: -2%;
    }
    .welcome {
        background: url("/img/home/photo-tiles-strip.png");
        background-size: 150% auto;
        background-repeat: no-repeat;
        background-position: calc(100% - -75vw) center; /* Adjust the value as needed */
        z-index: 5;
        padding: 0vh;
        color: #3b3b3b;
        width: 103%;
        /* height: 90vh; */
    }
    .welcome {
        margin-left: -3%;
    }
    .carousel-container {
        width: 110%;
        margin-top: -2%;
    }
    .plane-sketch {
        width: 50px; /* Set the desired width */
        height: 50px; /* Set the desired height */
    }
    .welcome-header {
        font-size: 5.5vw;
    }
    .theme {
        font-size: 3.5vw;
    }
    .theme-message {
        font-size: 1.8vw;
        width: 50vw;
    }
    .main-conf-nav {
        margin-top: 3%;
        width: 88vw;
    }

    .conf-nav i.fa-solid {
        display: none;
    }
    .main-conf-nav a {
        font-size: 1.6vw !important;
    }
    .about-us-btn {
        font-size: 1.8vw;
    }
    .countdown-sect {
        margin-top: -1%;
        margin-left: -5%;
    }
    .countdown ul li span {
        font-size: 2.5vw !important;
    }
    .countdown ul li {
        font-size: 1.5vw !important;
    }
    .countdown ul {
        gap: 2%;
    }
    .countdown-message {
        font-size: 2vw;
        margin-left: 5%;
    }
    .cebu-pinned-img {
        display: none;
    }
    .cebu-details {
        width: 90%;
    }
}
<<<<<<< HEAD
@media only screen and (min-width: 450px) and (max-width: 669px){
    .content-main{
        margin-left: -2%;
    }
    .welcome {
        background: url("/img/home/photo-tiles-strip.png");
        background-size: 150% auto;
        background-repeat: no-repeat;
        background-position: calc(100% - -75vw) center; /* Adjust the value as needed */
=======
@media only screen and (min-width: 500px) and (max-width: 652px) {
    .content-main {
        margin-left: -7%;
    }
    .welcome {
        background: url("/img/home/photo-tiles-strip.png");
        background-size: 170% auto;
        background-repeat: no-repeat;
        background-position: calc(100% - -95vw) center; /* Adjust the value as needed */
>>>>>>> 1c45193a793f01c264caa5a340b26bae07fcce55
        z-index: 5;
        padding: 0vh;
        color: #3b3b3b;
        width: 103%;
        /* height: 90vh; */
    }
<<<<<<< HEAD
    .welcome{
        margin-left: -3%;
    }
    .carousel-container{
        width: 89vw;
        margin-top: -2%;
    }
=======
    .welcome {
        margin-left: -3%;
    }
    .carousel-container {
        width: 105vw;
        margin-top: -2%;
    }
    .carousel-item {
        margin-left: -5%;
    }
    .carousel-inner {
        left: 5%;
    }
>>>>>>> 1c45193a793f01c264caa5a340b26bae07fcce55
    .plane-sketch {
        width: 50px; /* Set the desired width */
        height: 50px; /* Set the desired height */
    }
<<<<<<< HEAD
    .welcome-header{
        font-size: 5.5vw;
    }
    .theme{
        font-size: 3.5vw;
    }
    .theme-message{
        font-size: 1.8vw;
        width: 50vw;
    }
    .main-conf-nav{
        margin-top: 3%;
        width: 88vw;
=======
    .welcome-header {
        font-size: 6vw;
        z-index: 2;
    }
    .theme {
        font-size: 3.8vw;
    }
    .theme-message {
        font-size: 2vw;
        width: 50vw;
    }
    .conf-nav {
        height: 50%;
        margin-left: -35%;
    }
    .conf-nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .main-conf-nav {
        margin-top: 3%;
        width: 50vw;
        margin-left: 18%;
        margin-right: auto;
    }
    /* Set a higher z-index value for the dropdown container */
    .conf-nav {
        position: relative;
        z-index: 2;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        top: 110%;
        background-color: #ffffff;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 5;
        width: 300px;
        border-radius: 15px;
        left: 70%;
    }
    .about-us-btn {
        border: 2px solid #ffffff;
    }
    .abt-us-ctn {
        position: relative;
        z-index: 1; /* Adjust the value as needed */
        top: 10%;
        margin-left: 30%;

        margin-bottom: 3%;
>>>>>>> 1c45193a793f01c264caa5a340b26bae07fcce55
    }
    .conf-nav i.fa-solid {
        display: none;
    }
<<<<<<< HEAD
    .main-conf-nav a{
        font-size: 1.6vw !important;
    }
    .about-us-btn{
        font-size: 1.8vw;
     }
    .countdown-sect{
        margin-top: -1%;
        margin-left: -5%;
    }
    .countdown ul li span {
        font-size: 2.5vw !important;
    }
    .countdown ul li{
        font-size: 1.5vw !important;
    }
    .countdown ul{
        gap: 2%;
    }
    .countdown-message{
        font-size: 2vw;
        margin-left: 5%;
=======
    .main-conf-nav a {
        font-size: 2.6vw !important;
    }
    .about-us-btn {
        font-size: 3vw;
        z-index: 2;
        color: #ffffff;
    }

    .count-section {
        position: relative;
        z-index: 2; /* Adjust the value as needed */
    }

    .countdown-sect {
        margin-top: 20%;
        margin-left: 1%;
        position: relative;
        z-index: 3; /* Adjust the value as needed, should be higher than the parent container's z-index */
    }

    .countdown ul li span {
        font-size: 6vw !important;
        color: #ffffff;
    }
    .countdown ul li {
        font-size: 3vw !important;
        color: #ffffff;
    }
    .countdown ul {
        gap: 2%;
    }
    .countdown-message {
        font-size: 3vw;
        margin-left: 5%;
        color: #ffffff;
    }
    .city-smoke-bg {
        width: 100%;
        height: 150%;
        position: absolute;
        top: 70%;
        left: 0;
        object-fit: cover;
    }
    .about-cebu {
        height: 500% !important;
    }
    .cebu-info {
        width: 100%;
    }
    .cebu-details {
        margin-left: 0%;
        margin-top: 25%;
        width: 90%;
    }
    .cebu-pinned-img {
        display: none !important;
    }
    .detail-main-header {
        font-size: 10vw;
    }
    .announcements {
        margin-left: -8%;
    }
    .announcement-header {
        font-size: 6vw;
    }
}
@media only screen and (min-width: 440px) and (max-width: 499px) {
    .content-main {
        margin-left: -2%;
    }
    .welcome {
        background: url("/img/home/photo-tiles-strip.png");
        background-size: 240% auto;
        background-repeat: no-repeat;
        background-position-x: calc(100% - -150vw) 50px;
        z-index: 5;
        padding: 0vh;
        color: #3b3b3b;
        width: 100%;
        height: 100vh;
    }

    .carousel-container {
        width: 105vw;
        margin-top: -2%;
    }
    .carousel-inner {
        width: 110vw;
    }
    .carousel-item {
        left: 15%;
    }
    .plane-sketch {
        width: 50px; /* Set the desired width */
        height: 50px; /* Set the desired height */
    }
    .welcome-header {
        font-size: 8.7vw;
        z-index: 2;
    }
    .theme {
        font-size: 4vw;
    }
    .theme-message {
        font-size: 2.3vw;
        width: 65vw;
    }
    .conf-nav {
        height: 50%;
        margin-left: -35%;
    }
    .conf-nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 2; /* Set a higher z-index value */
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    .main-conf-nav {
        margin-top: 3%;
        width: 50vw;
        margin-left: 18%;
        margin-right: auto;
    }
    .about-us-btn {
        border: 2px solid #ffffff;
    }
    .abt-us-ctn {
        position: relative;
        z-index: 1; /* Adjust the value as needed */
        top: 10%;
        margin-left: 25%;
    }
    .conf-nav i.fa-solid {
        display: none;
    }
    .main-conf-nav a {
        font-size: 2.6vw !important;
    }
    .about-us-btn {
        font-size: 3vw;
        z-index: 2;
        color: #ffffff;
    }

    .count-section {
        position: relative;
        z-index: 2; /* Adjust the value as needed */
    }

    .countdown-sect {
        margin-top: 28%;
        margin-left: -10%;
        position: relative;
        z-index: 3; /* Adjust the value as needed, should be higher than the parent container's z-index */
    }

    .countdown ul li span {
        font-size: 6vw !important;
        color: #ffffff;
    }
    .countdown ul li {
        font-size: 3vw !important;
        color: #ffffff;
    }
    .countdown ul {
        gap: 2%;
    }
    .countdown-message {
        font-size: 3vw;
        margin-left: 5%;
        color: #ffffff;
    }
    .city-smoke-bg {
        width: 100%;
        height: 150%;
        position: absolute;
        top: 75%;
        left: 0;
        object-fit: cover;
    }
    .about-cebu {
        height: 500% !important;
    }
    .cebu-info {
        width: 100%;
    }
    .cebu-details {
        margin-left: -5%;
        margin-top: 35%;
        width: 90%;
        height: 600px;
        overflow-y: auto;
    }
    .cebu-pinned-img {
        display: none !important;
    }
    .detail-main-header {
        font-size: 10vw;
    }
    .announcements {
        margin-left: -8%;
    }
    .announcement-header {
        font-size: 6vw;
    }
}

@media only screen and (min-width: 300px) and (max-width: 439px) {
    .content-main {
        margin-left: -5%;
    }
    .welcome {
        background: url("/img/home/photo-tiles-strip.png");
        background-size: 300% auto;
        background-repeat: no-repeat;
        background-position-x: calc(100% - -155vw);
        z-index: 5;
        padding: 0vh;
        color: #3b3b3b;
        width: 100%;
    }

    .carousel-container {
        width: 100vw;
        margin-top: -2%;
    }
    .carousel-inner {
        width: 100vw;
    }
    .carousel-item {
        left: 20%;
    }
    .plane-sketch {
        display: none;
    }
    .welcome-header {
        margin-right: 20% !important;
        font-size: 8.7vw;
        z-index: 2;
    }
    .welcome-header .span {
        font-size: 13vw;
    }
    .theme {
        font-size: 4vw;
    }
    .theme-message {
        font-size: 2.3vw;
        width: 65vw;
    }
    .conf-nav {
        height: 50%;
        margin-left: -35%;
    }
    .conf-nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .main-conf-nav {
        margin-top: 3%;
        width: 50vw;
        margin-left: 18%;
        margin-right: auto;
    }
    .main-conf-nav a {
        font-size: 2.6vw !important;
    }
    .about-us-btn {
        border: 2px solid #ffffff;
    }
    .abt-us-ctn {
        position: relative;
        z-index: 1; /* Adjust the value as needed */
        top: 10%;
        bottom: 10%;
        margin-left: 20%;
    }
    .conf-nav i.fa-solid {
        display: none;
    }

    .about-us-btn {
        font-size: 3vw;
        z-index: 2;
        color: #ffffff;
    }

    .count-section {
        position: relative;
        z-index: 2; /* Adjust the value as needed */
    }

    .countdown-sect {
        margin-top: 28%;
        margin-left: -15%;
        position: relative;
        z-index: 3; /* Adjust the value as needed, should be higher than the parent container's z-index */
    }

    .countdown ul li span {
        font-size: 6vw !important;
        color: #ffffff;
    }
    .countdown ul li {
        font-size: 3vw !important;
        color: #ffffff;
    }
    .countdown ul {
        gap: 2%;
    }
    .countdown-message {
        font-size: 3vw;
        margin-left: 5%;
        color: #ffffff;
    }
    .city-smoke-bg {
        width: 100%;
        height: 150%;
        position: absolute;
        top: 75%;
        left: 0;
        object-fit: cover;
    }
    .about-cebu {
        height: 500% !important;
    }
    .cebu-info {
        width: 100%;
    }
    .cebu-details {
        margin-left: -5%;
        margin-top: 35%;
        width: 90%;
        height: 600px;
        overflow-y: auto;
    }
    .cebu-pinned-img {
        display: none !important;
    }
    .detail-main-header {
        font-size: 10vw;
    }
    .announcements {
        margin-left: -8%;
    }
    .announcement-header {
        font-size: 5vw;
    }
    .announcement-arrow {
        width: 25px; /* Adjust this value to make the image smaller */
        /* Optionally, you can set the height to maintain the aspect ratio */
        height: auto;
    }
    .text-center {
        font-size: 3.2vw;
    }
}
@media only screen and (min-width: 300px) and (max-width: 385px) {
    .welcome {
        background: url("/img/home/photo-tiles-strip.png");
        background-size: 300% auto;
        background-repeat: no-repeat;
        background-position: calc(100% - -155vw) 50px; /* Adjust X and Y values */
        z-index: 5;
        padding: 0vh;
        color: #3b3b3b;
        width: 100%;
    }
    .main-conf-nav {
        margin-top: 3%;
        width: 60vw;
        margin-left: 15%;
        margin-right: auto;
    }
    .main-conf-nav a {
        font-size: 3vw !important;
    }
}
@media only screen and (min-width: 300px) and (max-width: 370px) {
    .welcome {
        background: url("/img/home/photo-tiles-strip.png");
        background-size: 300% auto;
        background-repeat: no-repeat;
        background-position: calc(100% - -155vw) 70px; /* Adjust X and Y values */
        z-index: 5;
        padding: 0vh;
        color: #3b3b3b;
        width: 100%;
    }
}
@media only screen and (min-width: 300px) and (max-width: 350px) {
    .welcome {
        background: url("/img/home/photo-tiles-strip.png");
        background-size: 300% auto;
        background-repeat: no-repeat;
        background-position: calc(100% - -155vw) 100%; /* Adjust X and Y values */
        z-index: 5;
        padding: 0vh;
        color: #3b3b3b;
        width: 100%;
>>>>>>> 1c45193a793f01c264caa5a340b26bae07fcce55
    }
}
