@import url("https://fonts.cdnfonts.com/css/quiapo-free");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Protest+Riot&display=swap");

@font-face {
    font-family: "Batangas"; /* Specify the font family name */
    src: url("/font/batangas-700.otf") format("opentype"); /* Specify the correct format for the font file */
}

/* .hidden {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s;
}
.show {
    opacity: 1;
    transform: translateY(0);
} */
.modal {
    background-color: rgba(0, 30, 80, 0.5);
    backdrop-filter: blur(5px);
}
.modal-body .email-link {
    font-size: 17px;
    text-decoration: none;
}
.modal-body .note {
    font-weight: bold;
    padding-bottom: 5px;
}
.content-main {
    margin-bottom: 10vh;
}
.section_info_header {
    position: relative;
    z-index: 5;
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    font-size: 2rem;
    padding: 2vh;
    text-transform: uppercase;
    background: linear-gradient(
        120deg,
        rgba(0, 30, 80, 1) 0%,
        rgba(105, 177, 242, 1) 73%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.sponsors-list {
    display: flex;
    animation: marquee 20s linear infinite; /* Adjust duration as needed */
}

.sponsor-item {
    flex: 0 0 auto;
    margin-right: 20px; /* Adjust spacing between sponsor items */
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

.header__separator {
    position: relative;
    font-size: 4rem;
    text-align: center;
    color: #3b3b3b;
    z-index: 10;
    margin-bottom: 2vh;
}
.welcome {
    color: #3b3b3b;
    width: 100%;
}

.welcome-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome-header {
    margin-top: 5vh;
    font-size: 5.5rem;
    line-height: 10vh;
    display: inline-block;
    line-height: 10vh;
    text-align: center; /* Center the text */
    width: auto;
}

.plane-sketch {
    margin-left: 2vh;
    width: 120px;
    height: auto;
}
.span {
    font-family: "Batangas";
}
.theme-container {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.typing-container {
    text-align: center;
    font-size: 4rem;
    width: 100%;
    font-family: "Batangas";
}
.theme__input {
    font-family: "Batangas";
    color: #2263a0;
}
.welcome-banner .span:hover {
    font-size: 1.2em;
    transition: font-size 0.3s ease-in-out;
    color: #50a9fb;
}
.theme-message {
    width: 60%;
    margin-top: 2vh;
    text-align: center;
    padding-bottom: 5vh;
    font-size: 17px;
}
.apac-2024 {
    border-radius: 15px;
    position: relative;
    z-index: 3;
}

.abt-us-ctn {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 2%;
    margin-bottom: 2%;
}

.learn-more {
    padding: 15px;
    background-color: white;
    border-radius: 6px;
    position: relative;
    border: 2px solid #3b3b3b;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
}

.learn-more span {
    color: #3b3b3b;
    position: relative;


    transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

.learn-more::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 6px;
    transform: translate(-100%, -50%);
    width: 100%;
    height: 100%;
    background-color: hsl(244, 63%, 69%);
    transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

.learn-more:hover {
    color: white;
}

.learn-more:hover::before {
    transform: translate(0, -50%);
}

.about-us-btn {
    text-align: center;
    font-size: 17px;
    color: #3b3b3b;
    border: 2px solid #3b3b3b;
    padding: 10px;
    text-decoration: none;
    letter-spacing: 2px;
}
.reg-now-btn {
    text-align: center;
    font-size: 17px;
    color: #2263a0;
    border: 2px solid #2263a0;
    padding: 10px;
    text-decoration: none;
    letter-spacing: 2px;
}
.about-us-btn:hover {
    background-color: #3b3b3b;
    color: #ffff;
}
.reg-now-btn:hover {
    background-color: #2263a0;
    color: #ffff;
}
.main-countdown {
    display: flex;
    justify-content: center;
    background: url("/img/home/countdown-cover.jpg");
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    position: relative;
}

.countdown-main {
    background-color: #ffff;
    margin-top: 45vh;
    margin-right: 30vw;
    border-radius: 20px;
    padding: 15px;
    width: 90%;
    z-index: 10;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.count-section {
    display: flex;
    justify-content: center;
}
.countdown-sect {
    color: #3b3b3b;
}

.countdown-header {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    font-weight: bold;
}
.countdown ul {
    display: flex;
    gap: 6vh;
}
.countdown ul li {
    display: inline-block;
    font-size: 2rem;
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
}

.countdown ul li span {
    width: 100%;
    display: block;
    font-size: 3rem;
    border-radius: 20px;
    font-weight: 800;
}
.countdown-message {
    font-size: 1.2vw;
    font-style: italic;
    text-align: center;
}


.about-cebu {
    margin-top: 50vh;
}
.city-smoke-bg {
    width: 100%;
    height: auto;
    position: absolute;
    top: 170%;
    left: 0;
}
.welcome-message-section {
    position: relative;
    z-index: 5;
    background-color: #ffff;
    display: inline-block;
    margin-top: 4vh;
}
.welcome-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-header {
    font-size: 2em;
    color: #3b3b3b;
    padding-bottom: 25px;
    font-weight: bold;
    line-height: 6vh;
}
.message-header span {
    display: block;
    color: #50a9fb;
    font-weight: 400;
    font-size: 3.5rem;
}
.dg-message {
    width: 90%;
    padding: 25px;
    border-radius: 15px;
    font-size: 17px;
    text-align: justify;
    margin-right: 3vw;
}
.dg-message .fa-quote-left {
    font-size: 2rem;
    color: #969696;
    margin-right: 15px;
}
.messenger {
    margin-top: 3vh;
}
.messenger span {
    display: block;
    line-height: 3vh;
}
.messenger .name {
    font-size: 20px;
    font-weight: bold;
    color: #969696;
}
.messenger .position {
    font-style: italic;
}
.capt-tamayo-img {
    width: 75%; /* Set image width to cover the container */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure the image doesn't exceed its original size */
}
.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Ensure the caption doesn't overflow */
}
.caption {
    border-top: 4px solid #50a9fb;
    position: absolute;
    bottom: -95px; /* Initially hide the caption below the image */
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    transition: bottom 0.3s ease; /* Add transition for smooth sliding */
    line-height: 1.5vh;
    padding: 10px;
}
.caption .name {
    font-size: 20px;
}
.caption .position {
    font-size: 16px;
    line-height: 1.5vh;
}
.image-container:hover .caption {
    bottom: 0; /* Slide the caption upwards on hover */
}

.cebu_info_section {
    padding: 15px;
}
.cebu_map {
    width: 50%;
    height: auto;
}
.cebu_info_container {
    display: flex;
    align-items: center;
}
.cebu_info_header {
    display: block;
}

.cebu-details {
    position: relative;
    z-index: 3;
    background-color: rgba(59, 59, 59, 0.7);
    -webkit-box-shadow: -9px 13px 0px 4px rgba(80, 169, 251, 1);
    -moz-box-shadow: -9px 13px 0px 4px rgba(80, 169, 251, 1);
    box-shadow: -9px 13px 0px 4px rgba(80, 169, 251, 1);
    position: relative;
    color: #ffff;
    padding: 25px;
    width: 50%;
    margin-left: 6%;
    border-radius: 20px;
    max-height: 600px;
    overflow-y: auto;
    transition: transform 0.3s ease, border 0.3s ease, width 0.3s ease;
}

/* width */
.cebu-details::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.cebu-details::-webkit-scrollbar-track {
    background-color: #ffff;
}

/* Handle */
.cebu-details::-webkit-scrollbar-thumb {
    background: #969696;
    border-radius: 99px;
}

/* Handle on hover */
.cebu-details::-webkit-scrollbar-thumb:hover {
    background: #2263a0;
    border-radius: 99px;
}

.detail-headers {
    line-height: 6.5vh;
    width: 100%;
}
.detail-main-header {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}

.detail-subheader {
    font-size: 20px;
    text-transform: uppercase;
}
.detail-content {
    margin-top: 3%;
    max-height: 700px;
}

.sponsor__footer {
    margin-bottom: 8vh;
}
.sponsors__header {
    font-size: 4rem;
    color: #3b3b3b;
    text-align: center;
    margin-bottom: 8vh;
}
.sponsors-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.sponsor-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
}

.sponsor-image {
    width: 100px;
    height: 100px;
}

.sponsor-name {
    margin-top: 10px; /* Adjust margin as needed */
}
.svg_container {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    margin: 5vh 5vh;
}
.dotted-line-img {
    width: 170px;
    height: auto;
}
@media only screen and (max-width: 600px) {
    .welcome-header {
        width: 100%;
    }
    .typing-container {
        font-size: 2em;
    }
    .theme-message {
        text-align: justify;
    }
}
@media only screen and (min-width: 1260px) and (max-width: 1440px) {
    .carousel-container {
        width: 90vw;
        margin-top: -4%;
        right: 27%;
    }
    .welcome-header {
        font-size: 5em;
    }
    .theme {
        font-size: 3em;
    }
    .theme-message {
        font-size: 1.2em;
    }
    .main-countdown {
        margin-top: 10rem !important;
    }
    .about-us-btn {
        font-size: 1.1vw;
    }
    .countdown-sect {
        margin-top: -1%;
    }
    .countdown ul li span {
        font-size: 1.3em;
    }
    .countdown-message {
        font-size: 2em;
    }
    .city-smoke-bg {
        margin-top: 15%;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1259px) {

    .carousel-container {
        width: 89vw;
        margin-top: -8%;
    }
    .welcome-header {
        font-size: 5rem;
        line-height: 8vh;
    }
    .theme {
        font-size: 3em;
    }
    .theme-message {
        font-size: 1.2em;
    }
    .main-conf-nav {
        width: 70%;
    }
    .main-conf-nav a {
        width: 20%;
        font-size: 50px;
    }

    .conf-nav i.fa-solid {
        font-size: 1vw; /* Adjust the size according to your preference */
        margin-right: 2px; /* Optional: Add some space between the icon and text */
    }
    .abt-us-ctn{
        margin-bottom: 0;
    }
    .about-us-btn {
        font-size: 1.1vw;
    }
    .main-countdown {
        margin: 0;
        display: flex;
        justify-content: center;
        background: url("/img/home/countdown-cover.jpg");
        background-size: 75% auto;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }
    .countdown-main{
        margin-top: 43vh;
        margin-right: 25vw;
    }
    .countdown-sect {
        margin-top: -1%;
    }
    .countdown ul li {
        font-size: 18px;
    }

    .countdown ul li span {
        font-size: 22px;
    }
    .countdown-message {
        font-size: 20px;
    }
    .city-smoke-bg {
        margin-top: -10%;
    }
    .about-cebu{
        margin-top: 10vh;
    }
    .capt-tamayo-img{
        margin-left: 4vw;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1024px) {
    .content-main {
        margin-left: -6%;
    }
    .header__separator{
        font-size: 3rem;
    }
    .section_info_header{
        width: 90%;
        font-size: 25px;
    }
    .banner-img {
        width: 300px;
        height: auto;
    }

    .carousel-container {
        width: 100%;
        margin-top: -2%;
        right: 30%;
    }
    .plane-sketch {
        width: 80px; /* Set the desired width */
        height: auto; /* Set the desired height */
    }
    .welcome-header {
        font-size: 4rem;
        line-height: 5vh;
    }
    .theme-message {
        font-size: 17px;
        width: 70%;
    }

    .conf-nav i.fa-solid {
        font-size: 1.5vw; /* Adjust the size according to your preference */
        margin-right: 2px; /* Optional: Add some space between the icon and text */
    }
    .main-conf-nav a {
        font-size: 20px;
    }

    .about-us-btn {
        font-size: 17px;
    }
    .main-countdown {
        margin-top: -10vh;
    }
    .countdown-main{
        margin-top: 43vh;
    }
    .countdown ul li span {
        font-size: 20px;
    }
    .countdown ul li {
        font-size: 20px;
    }
    .countdown ul {
        gap: 4vw;
    }
    .countdown-message {
        font-size: 20px;
    }
    .city-smoke-bg {
        margin-top: -30vh;
    }
    .about-cebu {
        margin: 0;
    }
    .welcome-message-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .capt-tamayo-img{
        width: 400px;
        height: auto;
    }
    .fa-quote-left{
        font-size: 20px;
    }
    .message-header{
        text-align: center;
    }
    .messenger{
        margin-top: 6vh;
        text-align: center;
    }
}
@media only screen and (min-width: 800px) and (max-width: 899px) {
    .content-main {
        margin-left: -2%;
    }

    .banner-content {
        width: 100%;
    }
    .plane-sketch {
        display: none;
    }
    .header__separator{
        font-size: 4rem;
    }
    .section_info_header{
        width: 100%;
        font-size: 25px;
    }
    .banner-img {
        width: 300px;
        height: auto;
    }

    .plane-sketch {
        width: 80px; /* Set the desired width */
        height: auto; /* Set the desired height */
    }
    .welcome-header {
        font-size: 4rem;
        line-height: 7vh;
    }
    .typing-container{
        font-size: 3rem;
    }
    .theme-message {
        font-size: 17px;
        width: 90%;
    }

    .conf-nav i.fa-solid {
        display: none;
    }
    .main-conf-nav a {
        font-size: 20px;
    }

    .about-us-btn {
        font-size: 17px;
    }
    .main-countdown {
        margin-top: -10vh;
    }
    .countdown-main{
        margin-top: 43vh;
    }
    .countdown ul li span {
        font-size: 20px;
    }
    .countdown ul li {
        font-size: 20px;
    }
    .countdown ul {
        gap: 4vw;
    }
    .countdown-message {
        font-size: 20px;
    }
    .city-smoke-bg {
        margin-top: -35vh;
    }
    .about-cebu {
        margin: 0;
    }
    .welcome-message-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .capt-tamayo-img{
        width: 400px;
        height: auto;
    }
    .fa-quote-left{
        font-size: 20px;
    }
    .message-header{
        text-align: center;
    }
    .messenger{
        margin-top: 6vh;
        text-align: center;
    }
}

@media only screen and (min-width: 653px) and (max-width: 799px) {
    .content-main {
        margin-left: -3%;
    }
    .banner-content {
        width: 100%;
    }
    .plane-sketch {
        display: none;
    }
    .header__separator{
        font-size: 4rem;
    }
    .section_info_header{
        width: 100%;
        font-size: 25px;
    }
    .banner-img {
        width: 300px;
        height: auto;
    }

    .plane-sketch {
        width: 80px; /* Set the desired width */
        height: auto; /* Set the desired height */
    }
    .welcome-header {
        font-size: 4rem;
        line-height: 7vh;
    }
    .typing-container{
        font-size: 3rem;
    }
    .theme-message {
        font-size: 17px;
        width: 90%;
    }

    .conf-nav i.fa-solid {
        display: none;
    }
    .main-conf-nav a {
        font-size: 20px;
    }

    .about-us-btn {
        font-size: 17px;
    }
    .main-countdown {
        margin-top: -10vh;
    }
    .countdown-main{
        margin-top: 43vh;
    }
    .countdown ul li span {
        font-size: 15px;
    }
    .countdown ul li {
        font-size: 15px;
    }
    .countdown ul {
        gap: 2vw;
    }
    .countdown-message {
        font-size: 14px;
    }
    .city-smoke-bg {
        margin-top: -35vh;
    }
    .about-cebu {
        margin: 0;
    }
    .welcome-message-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .capt-tamayo-img{
        width: 400px;
        height: auto;
    }
    .fa-quote-left{
        font-size: 20px;
    }
    .message-header{
        text-align: center;
    }
    .messenger{
        margin-top: 6vh;
        text-align: center;
    }
}
@media only screen and (max-width: 652px) {
    .content-main {
        margin-left: -4%;
    }
    .banner-content {
        width: 100%;
    }
    .plane-sketch {
        display: none;
    }
    .header__separator{
        font-size: 2.6rem;
    }
    .section_info_header{
        width: 100%;
        font-size: 20px;
    }
    .banner-img {
        width: 300px;
        height: auto;
    }

    .plane-sketch {
        width: 80px; /* Set the desired width */
        height: auto; /* Set the desired height */
    }
    .welcome-header {
        font-size: 3rem;
        line-height: 6vh;
    }
    .typing-container{
        font-size: 3rem;
    }
    .theme-message {
        font-size: 17px;
        width: 90%;
    }

    .about-us-btn {
        font-size: 17px;
    }
    .main-countdown {
        margin-top: -10vh;
    }
    .countdown-main{
        margin-top: 43vh;
    }
    .countdown ul li span {
        font-size: 15px;
    }
    .countdown ul li {
        font-size: 15px;
    }
    .countdown ul {
        gap: 2vw;
    }
    .countdown-message {
        font-size: 14px;
    }
    .city-smoke-bg {
        margin-top: -35vh;
    }
    .about-cebu {
        margin: 0;
    }
    .welcome-message-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .message-header{
        font-size: 2rem;
    }
    .capt-tamayo-img{
        width: 300px;
        height: auto;
    }
    .caption{
        font-size: 15px;
        bottom: -165px;
    }
    .caption .name, .caption .position{
        line-height: 3vh;
    }
    .fa-quote-left{
        font-size: 20px;
    }
    .message-header{
        text-align: center;
    }
    .messenger{
        margin-top: 6vh;
        text-align: center;
    }
    .cebu_info_container{
        display: flex;
        flex-direction: column-reverse;
    }
    .cebu-details{
        width: 90%;
    }
    .detail-headers{
        line-height: 4vh;
    }
    .detail-main-header{
        font-size: 3rem;
    }
    .detail-subheader{
        font-size: 15px;
    }
    .detail-content{
        font-size: 15px;
    }
}
/* PHONE MODE */
@media only screen and (min-width: 440px) and (max-width: 499px) {
    .banner-img {
        width: 200px;
        height: auto;
    }
    .welcome-banner {
        background: none;
    }
    .carousel-container {
        width: 105vw;
        margin-top: -2%;
    }
    .carousel-inner {
        width: 110vw;
    }
    .carousel-item {
        left: 15%;
    }
    .welcome-header {
        font-size: 4rem;
        z-index: 2;
        line-height: 8.5vh;
        text-align: center;
    }
    .welcome-header .plane-sketch {
        display: none;
    }
    /* .welcome-banner .span:hover{
        pointer-events: none;
    } */
    .theme {
        font-size: 2rem;
        text-align: center;
    }
    .theme-message {
        font-size: 15px;
        width: 100%;
    }
    .main-countdown {
        display: block;
        margin: 0 auto;
        margin-top: 35vh;
    }
    .abt-us-ctn {
        display: block;
        margin: 0 auto;
    }

    .about-us-btn {
        border: 2px solid #3b3b3b;
        font-size: 3vw;
        z-index: 2;
        color: #3b3b3b;
    }
    .about-us-btn:hover {
        background-color: #3b3b3b;
        color: #ffff;
    }

    .countdown ul li span {
        font-size: 6vw;
        color: #3b3b3b;
    }
    .countdown ul li {
        font-size: 3vw;
        color: #3b3b3b;
    }
    .countdown ul {
        gap: 6vw;
    }
    .countdown-message {
        font-size: 3vw;
        color: #3b3b3b;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
    }
    .city-smoke-bg {
        top: 140%;
    }
    .cebu_info_section {
        width: 100%;
    }
    .cebu-details {
        margin-left: -5%;
        width: 90%;
        overflow-y: auto;
    }
    .cebu-pinned-img {
        display: none;
    }
    .detail-main-header {
        font-size: 10vw;
    }
    .announcement-header {
        font-size: 20px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 439px) {
    .content-main {
        margin-left: 5%;
    }
    .welcome {
        padding: 0vh;
        color: #3b3b3b;
        width: 100%;
    }

    .carousel-container {
        width: 100vw;
        margin-top: -2%;
        right: 23%;
    }
    .carousel-inner {
        width: 100vw;
    }
    .carousel-item {
        left: 20%;
    }
    .plane-sketch {
        display: none;
    }
    .welcome-header {
        margin-right: 20%;
        font-size: 8.7vw;
        z-index: 2;
    }
    .welcome-header .span {
        font-size: 13vw;
    }
    .theme {
        font-size: 4vw;
    }
    .theme-message {
        font-size: 2.3vw;
        width: 65vw;
    }

    .about-us-btn {
        border: 2px solid #ffffff;
    }
    .abt-us-ctn {
        position: relative;
        z-index: 1; /* Adjust the value as needed */
        top: 10%;
        bottom: 10%;
        margin-left: 30%;
    }

    .about-us-btn {
        font-size: 3vw;
        z-index: 2;
        color: #ffffff;
    }

    .count-section {
        position: relative;
        z-index: 2; /* Adjust the value as needed */
    }

    .countdown-sect {
        margin-top: 28%;
        margin-left: -5%;
        position: relative;
        z-index: 3; /* Adjust the value as needed, should be higher than the parent container's z-index */
    }

    .countdown ul li span {
        font-size: 6vw;
        color: #ffffff;
    }
    .countdown ul li {
        font-size: 3vw;
        color: #ffffff;
    }
    .countdown ul {
        gap: 2%;
    }
    .countdown-message {
        font-size: 3vw;
        margin-left: 5%;
        color: #ffffff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
    }
    .city-smoke-bg {
        width: 100%;
        height: 150%;
        position: absolute;
        top: 85%;
        left: 0;
        object-fit: cover;
    }
    .about-cebu {
        height: 500%;
    }
    .cebu_info_section {
        width: 100%;
    }
    .cebu-details {
        margin-left: 2%;
        margin-top: 50%;
        width: 90%;
        height: 600px;
        overflow-y: auto;
    }
    .cebu-pinned-img {
        display: none;
    }
    .detail-main-header {
        font-size: 10vw;
    }
    .announcement-header {
        font-size: 20px;
    }
}
@media only screen and (max-width: 385px) {
    .content-main {
        margin-left: 5%;
    }
    .welcome {
        padding: 0vh;
        color: #3b3b3b;
        width: 100%;
    }

    .carousel-container {
        width: 100vw;
        margin-top: -2%;
        right: 23%;
    }
    .carousel-inner {
        width: 100vw;
    }
    .carousel-item {
        left: 20%;
    }
    .main-conf-nav a {
        font-size: 2vw;
    }
    .city-smoke-bg {
        top: 88%;
    }
    .announcement-header {
        font-size: 20px;
    }
}
@media only screen and (min-width: 300px) and (max-width: 370px) {
    .welcome {
        padding: 0vh;
        color: #3b3b3b;
        width: 100%;
    }
    .conf-nav {
        position: relative;
        z-index: 2;
    }
    .cebu-details {
        margin-top: 80%;
    }
}
@media only screen and (min-width: 300px) and (max-width: 350px) {
    .content-main {
        margin-left: -10%;
    }
    .welcome {
        padding: 0vh;
        color: #3b3b3b;
        width: 100%;
    }
    .count-section {
        margin-top: 40%;
    }
    .conf-nav {
        position: relative;
        z-index: 2;
    }
}
