@import url("https://fonts.cdnfonts.com/css/quiapo-free");

* {
    font-family: "Poppins", sans-serif;
}
.welcome-banner {
    position: relative;
    overflow: hidden;
}

.welcome-banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
    filter: blur(0px);
}
.welcome-banner {
    padding: 15px;
    /* Other background properties or styles */
}
.banner {
    color: #ffff;
    margin-left: 10%;
}
.title {
    margin-top: 5vh;
    font-size: 5.2rem;
    font-weight: 800;
    line-height: 9vh;
    width: 35%;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);
}
.title-sub {
    font-size: 5rem;
    /* font-family: "Quiapo Free", sans-serif;
    color: #002868; */
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 5vh;
}
.conf-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.conf-nav li {
    list-style-type: none;
    margin: 15px;
}

.conf-nav li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #3b3b3b;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}
.conf-nav li a .fa-solid {
    margin-right: 10px;
    font-size: 1.3rem;
    color: #001e50;
}
/* .conf-nav li a:hover{
    background-color: #001E50;
    color: #ffff;
    border-radius: 15px;
    transition: .1s ease-in-out;

} */

/* Dropdown styles */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 110%;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    width: 300px;
    border-radius: 15px;
}

.dropdown .dropdown-content a {
    color: #3b3b3b;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    width: 100%;
    font-weight: 400;
    text-transform: capitalize;
}

.dropdown-content a:hover {
    background-color: #001e50;
    color: #ffff;
    transition: 0.1s ease;
    margin-left: 10px;
    border-radius: 0 15px 15px 0;
}
.section-divider {
    background-color: #ffd54f;
    padding: 2vh;
}
.div-header {
    font-size: 3rem;
    text-align: center;
    font-weight: 800;
}

.dg-message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    background: rgb(248, 249, 253);
    background: linear-gradient(
        183deg,
        rgba(248, 249, 253, 1) 0%,
        rgba(244, 247, 252, 1) 0%,
        rgba(234, 244, 251, 1) 100%,
        rgba(218, 238, 249, 1) 100%,
        rgba(181, 224, 243, 1) 100%,
        rgba(134, 206, 236, 1) 100%,
        rgba(44, 172, 223, 1) 100%
    );
}
.message-card {
    width: 50%;
    font-size: 15px;
}
.message-title {
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 15px;
    color: #38b9e1;
    letter-spacing: 5px;
    line-height: 5vh;
}
.message-content {
    text-align: justify;
}
.dg-content {
    padding: 5vh;
}
.dg-img {
    width: 400px;
    height: auto;
}
.count-section {
    margin-top: 5vh;
    width: 100%;
    margin-bottom: 5vh;
}
.countdown-sect {
    color: #333;
    margin: 0 auto;
    text-align: center;
}
.countdown-main {
    /* background-color: #ffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    padding: 2vh;
    border-radius: 20px;
}
.countdown-header {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2vh;
}

.countdown ul li {
    display: inline-block;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.countdown ul li span {
    width: 100%;
    display: block;
    font-size: 2rem;
    color: #3b3b3b;
    padding: 20px;
    border-radius: 20px;
    font-weight: 800;
}
.notices-section {
    padding: 5vh;
}
.notice-header {
    font-weight: bold;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
}
.notice-content {
    font-size: 2rem;
    text-align: center;
}

/* SLIDER CSS */
.slider {
    margin: 0 auto;
    max-width: 940px;
}

.slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child {
    display: block;
}

.slide:nth-of-type(1) {
    background: #d7a151;
}

.slide:nth-of-type(2) {
    background: #f4e4cd;
}

.slide:nth-of-type(3) {
    background: #c75534;
}

.slide:nth-of-type(4) {
    background: #d1d1d4;
}

.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
    color: #428cc6;
    cursor: pointer;
}

.directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
}

.previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
}

.previous_btn,
.next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover,
.next_btn:hover {
    opacity: 1;
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .welcome-banner video {
        width: 130rem;
    }

    .title {
        margin-top: 8vh;
        font-size: 5vw;
        width: 35%;
    }

    .title-sub {
        font-size: 5vw;
    }

    .div-header {
        font-size: 4.5vw;
    }

    .button-19 {
        font-size: 1.6vw !important;
        width: 30% !important;
    }

    .message-title {
        padding: 20px;
        width: 60vw;
        font-size: 300%;
    }

    .message-content {
        text-align: justify;
        padding: 20px;
        width: 55vw;
    }
}
    @media only screen and (min-width: 601px) and (max-width: 1024px) {

        .banner{
            color: #ffff;
            text-align: center;
            margin-left: 15px;
        }

        .title{
            margin-top: 8vh;
            font-size: 9vw;
            font-weight: 800;
            line-height: 10vh;
            width: 100%;
            text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);

        }
        .title-sub{
            margin-top: 2vh;
            font-size: 6vw!important;
            line-height: 9vh;
            text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);
        }
        .button-19 {
            font-size: 1.8vw !important;
            width: 35% !important;
        }
        .conf-nav{
            margin-bottom: 8vh;
        }
        .conf-nav ul{
            display: flex;
            justify-content:center;
        }
        .conf-nav ul li a {
            padding: 16px;
            font-size: 1.5vw;
        }
        .div-header{
            font-size: 5vw;
        }
        .dg-message{
            margin-top: 5vh;
        }
        .dg-content{
            display: none;
        }
        .message-card{
            width: 100%;
            padding: 15px;
        }
        .message-title{
            text-align: center;
            line-height: 4vh;
            font-size: 2.5rem;
            letter-spacing: normal;
        }
        .message-content{
            text-align: justify;
            padding: 15px;
        }
        .countdown ul li{
            font-size: 3vw;
        }
    }
    @media only screen and (min-width: 300px) and (max-width: 600px) {

        .banner{
            color: #ffff;
            text-align: center;
            margin-left: -5px;

        }

        .title{
            margin-top: 8vh;
            font-size: 12vw;
            font-weight: 800;
            line-height: 7vh;
            width: 100%;
            text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);
        }
        .title-sub{
            margin-top: 2vh;
            font-size: 10vw!important;
            line-height: 9vh;
            text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);
        }

        .button-19 {
            font-size: 4vw !important;
            width: 50% !important; /* Adjust the width as needed */
        }
        .conf-nav{
            margin-bottom: 10vh;
        }
        .dropdown-content {
            margin-left: -7vw;
            width: 50vw;
        }

        .conf-nav ul{
            display: flex;
            justify-content:center;
            flex-wrap: wrap;
        }
        .conf-nav ul li a {
            padding: 16px;
            font-size: 4vw;

        }
        .div-header{
            font-size: 7vw;
        }
        .dg-message{
            margin-top: 5vh;
        }
        .dg-content{
            display: none;
        }
        .message-card{
            width: 100%;
            padding: 15px;
        }
        .message-title{
            text-align: center;
            line-height: 6vh !important;
            font-size: 3rem;
            letter-spacing: normal;
        }
        .message-content{
            text-align: justify;
            padding: 15px;
        }
        .countdown-header{
            font-size: 5vw;
        }
        .countdown-main{
            margin-top: 15rem !important;
        }
        .countdown ul li {
            display: inline-block;
            font-size: 3.3vw;
            list-style-type: none;
            text-transform: uppercase;
        }
        .countdown ul {
            margin-left: -10%;
        }

        .countdown ul li span {
            width: 100%;
            display: block;
            font-size: 6vw;
            color: #3b3b3b;
            padding: 10px;
            border-radius: 20px;
            font-weight: 800;
        }

        .notice-header{
            font-size: 5vw;
        }
        .notice-content{
            font-size: 5vw;
        }
    }


@media only screen and (max-width: 767px) {
    .previous_btn {
        left: 50px;
    }
    .next_btn {
        right: 50px;
    }
    .countdown-main{
        margin-top: 40%;
    }
    .conf-nav ul li a {
        font-size: 3vw;
    }
    .dropdown-content {
        margin-left: -7vw;
        width: 50vw;
    }
}

@media screen and (max-width: 768px) {

    .banner{
        color: #ffff;
        text-align: center;
    }

    .title{
        margin-top: 8vh;
        font-size: 4=3rem;
        font-weight: 800;
        line-height: 10vh;
        width: 100%;
        text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);
    }
    .title-sub{
        margin-top: 2vh;
        font-size: 3rem;
        line-height: 9vh;
        text-shadow: 3px 2px 5px rgba(0, 0, 0, 1);
    }

    .conf-nav{
        margin-bottom: 8vh;
    }
    .conf-nav ul{
        display: flex;
        flex-direction: column;
        justify-content:left;
    }
    .conf-nav ul li a {
        padding: 16px;
    }
    .dg-message{
        margin-top: 5vh;
    }
    .dg-content{
        display: none;
    }
    .message-card{
        width: 100%;
        padding: 15px;
    }
    .message-title{
        text-align: center;
        line-height: 4vh;
        font-size: 2.5rem;
        letter-spacing: normal;
    }
    .message-content{
        text-align: justify;
        padding: 15px;
    }
}

.button-19 {
    appearance: button;
    background-color: #1899d6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 25px;
    width: 20%;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    margin-bottom: 4vh;
}

.button-19:after {
    background-clip: padding-box;
    background-color: #1cb0f6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 6px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-19:main,
.button-19:focus {
    user-select: auto;
}

.button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
    text-decoration: none;
}

.button-19:disabled {
    cursor: auto;
}

